<nav>
  <ul role="navigation" aria-label="main navigation">
    <li>01<a href="#how-it-works">How it works</a></li>
    <li>02<a href="#pricing">Pricing</a></li>
    <li>03<a href="#getting-started">Getting started</a></li>
    <li>04<a href="faq.html">FAQ</a></li>
    <li>05<a href="#enterprise" class="enterprise">Enterprise Solutions</a></li>
  </ul>
</nav>
