@import 'slick';

@mixin theme($name, $primary, $secondary) {
  .#{$name} {
    code {
      background: $secondary;
      color: $primary;
      padding: 0.1em 0.3em;
      border-radius: 5px;
      white-space: pre;
    }
    .signal{
      color: $primary;
    }
    a{
      color: $primary;
      border-bottom: 2px solid $secondary;
    }
    a.plan{
      color: $primary;
      border: 5px solid currentColor;
    }
    footer{
      background: $primary;
      color: $secondary;
      a{
        color: #FFF;
        border-bottom: 2px solid rgba(255,255,255,0.5);
      }
    }
    pre{
      color: #fff;
      background-color: $primary;
    }
    .logo path{
      fill: $primary;
    }
  }
}

$green-primary: #00c775;
$green-secondary: #e6faf1;

$blue-primary: cornflowerblue;
$blue-secondary: #e8effc;

@include theme(gk-saas, $green-primary, $green-secondary);
@include theme(gk-enterprise, $blue-primary, $blue-secondary);

* {
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

.super {
  vertical-align: text-top;
  font-size: 0.7em;
  font-weight: bold;
}

.small {
  font-size: 0.8em;
}

.red {
  color: #B4270F;
}

.purple {
  color: #A52A9A;
}

body{
  font-family: sans-serif;
  color: #333;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  line-height: 1.35;
  background-repeat: repeat-y;
  background-size: 100%;
  background-image: url(../images/bg_nodes_gk-saas.svg);
  &.gk-enterprise{
    background-image: url(../images/bg_nodes_gk-enterprise.svg);
  }
}

nav {
  padding: 1rem 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.65);
  height: auto;
  top: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 0.75rem;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  flex-wrap: wrap;
  li{
    &.account {
      order: -1;
      width: 100%;
      text-align: right;
      margin-bottom: 1.5em;
      @media screen and (min-width: 600px) {
        order: inherit;
        width: auto;
        text-align: inherit;
        margin-bottom: 0;
        margin-left: auto;
      }
    }
  }
}

nav.header {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  margin: 0.5em 1em 0.5em 0;
  &.active a {
    color: #000;
    pointer-events: none;
    border-bottom: none;
  }
}

@keyframes from-top{
  0% {
    transform: translateY(-200px);
  };
  100% {
    transform: translateY(0);
  };
}

nav ul li a{
  margin-left: 0.25em;
  position: relative;
  // Embiggen touch targets
  &:before{
    content: "";
    padding: 1.6em 1em;
    width: 100%;
    position: absolute;
    left: -1em;
    top: -1em;
  }
}

body:not(.index) nav.footer {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  ul{
    justify-content: flex-start;
    li{
      margin: 0.5em 1em 0.5em 0;
    }
  }
}

@keyframes bounce-bg-in{
  0% {
    background-size: 0;
  };
  100% {
    background-size: 90vw;
    @media screen and (min-width: 600px) {
      background-size: 450px;
    }
  };
}

@media screen and (min-width: 600px) {
  @keyframes bounce-bg-in{
    0% {
      background-size: 0;
    };
    100% {
      background-size: 450px;
    };
  }
}

a.enterprise,
.enterprise a{
  color: cornflowerblue; /* of course */
  border-bottom: 2px solid rgba(100, 149, 237, 0.1);
}

header{
  width: 90%;
  max-width: 600px;
  margin: 0 auto 1.5rem;
  display: flex;
  align-items: center;
  .logo {
    width: 4rem;
    background: white;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    margin: 0.2em 1em 0 0;
    padding: 0.1em;
  }
  h1{
    font-size: 1.5rem;
  }
  /*
  background-image: url(../images/nodes.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0;
  width: 100%;
  height: 450px;
  height: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1em;
  animation: bounce-bg-in 750ms cubic-bezier(0.26,1.48,.47,.96) 1s forwards 1;
  */
}

@keyframes appear-from-blur{
  0% {
    text-shadow: 0 0 500px #000;
    opacity: 0;
  };
  100% {
    text-shadow: 0 0 0 #000;
    opacity: 1;
  };
}

header h1{
  display: block;
  margin: 0;
  font-weight: bold;
}

@keyframes fade-in{
  0% {
    opacity: 0;
  };
  100% {
    opacity: 1;
  };
}

header span{
  display: block;
  background: #00c775;
  padding: 0.5em 1em 0.55em;
  color: #FFF;
  margin-top: 0.25em;
  font-size: 0.75rem;
}

.index {
  header {
    flex-direction: column;
    margin: 2em auto 0;
    .logo {
      width: 7.5rem;
    }
    h1{
      color: transparent;
      text-shadow: 0 0 500px #000;
      opacity: 0;
      animation: appear-from-blur 500ms ease-out 500ms forwards 1;
      margin: 0.75em;
    }
    span{
      opacity: 0;
      animation: fade-in 500ms ease-out 1750ms forwards 1;
    }
  }
  nav.header,
  nav.footer {
    width: 100%;
    display: block;
    max-width: 100%;
    padding: 0.5em 1em;
  }
}


header .get-started{
  opacity: 0;
  animation: fade-in 500ms ease-out 1850ms forwards 1;
}

header .get-started .button{
  background-color: #00c775;
  color: #FFF;
  padding: 0.4em;
  display: block;
  margin: 0 1em 0.25em 1em;
  transition: all 0.25s;
  border: 3px solid #00c775;
  font-weight: normal;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
}

header .get-started .button:hover,
header .get-started .button:focus{
  background: #fff;
  color: #00c775;
  border-bottom: 3px solid #00c775;
  // Override links in headlines
  border-color: #00c775;
  transform: scale(1.1);
  box-shadow: 0 0 0px 10px #00c775, 0 0 90px 20px rgb(0, 199, 117);
  z-index: 1010;
}

h1, h2, h3, h4, h5, h6{
  font-family: "futura-pt", Futura, sans-serif;
  color: #000;
  text-align: center;
  a{
    border-width: 4px;
    &:hover, &:focus{
      border-width: 4px;
    }
    &[id] {
      color: black;
      border: none;
      padding-top: 0.5em;
    }
  }
}

img{
  &.with-border{
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
  }
}

.wf-loading {
  h1, h2, h3, h4, h5, h6 {
    visibility: hidden;
  }
}

.wf-active {
  h1, h2, h3, h4, h5, h6 {
    visibility: visible;
  }
}

a{
  text-decoration: none;
  transition: all 0.25s;
  font-weight: bold;
}

a:not(.plan):hover,
a:not(.plan):focus{
  color: #000;
  border-color: #000;
  outline: none;
}

a:not([href]) {
  display: block;
  border: none;
  background: transparent;
}

a[href="#top"] {
  margin-bottom: 3em;
  display: inline-block;
}

button{
  color: #979797;
  border: 5px solid currentColor;
  font-family: "futura-pt";
  font-weight: bold;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.4em 1em;
  transition: color 0.25s;
  cursor: pointer;
}

button:hover,
button:focus{
  color: #B8E986;
}

pre{
  display: block;
  padding: 1em;
  margin: 0;
  line-height: 1rem;
  white-space: normal;
}

p{
  line-height: 1.5;
}

.no-select {
  user-select: none;
}
ul{
  list-style: none;
  padding-left: 1em;
}

ul li {
  margin-bottom: 0.5em;
}

ul li:before {
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -0.5em;
  color: currentColor;
  font-size: 2.5em;
  line-height: 1rem;
}

nav ul li:before{
  display: none;
}

ol {
  counter-reset: listcounter;
  list-style: none;
  padding-left: 2em;
  li {
    position: relative;
    &:before {
      content: counter(listcounter);
      counter-increment: listcounter;
      position: absolute;
      left: -2em;
      background: #00c775;
      border-radius: 100%;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      color: white;
      text-align: center;
    }
  }
}

section{
  font-size: 0.75rem;
  padding: 0.5em 1em;
  margin: 1em 0;
  &.split-item-top{
    margin-bottom: 0;
    padding-bottom: 0;
    ul {
      margin-bottom: 0;
    }
  }
  &.split-item-bottom{
    margin-top: 0;
    padding-top: 0;
    ul {
      margin-top: 0;
    }
  }
}

section h2 {
  padding-bottom: 1em;
  position: relative;
}

section h2:after {
  content: "";
  border-bottom: 4px solid #00C775;
  display: block;
  width: 3rem;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1.5rem);
  top: 2em;
}

.single {
  margin: 3em auto 3em;
  max-width: 30rem;
  text-align: center;
  .left-aligned{
    text-align: left;
  }
}

.double-flex {
  &> h2 {
    margin: 0 1em;
  }
}

.double-flex .social-proof{
  width: 100%;
}

.double-flex .they-really-seem-to-like-us{
  padding: 0 2em;
  width: 100%;
}
.they-really-seem-to-like-us ul{
  padding-left: 0;
  max-width: 90vw;
}

.pricing{
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: transparent;
  padding: 0;
  justify-content: center;
  max-width: 48rem;
  align-items: center;
}

.pricing h2{
  padding: 1em 0;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 1rem;
}

.pricing h2:after{
  display: none;
}

.plan {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid;
  padding: 1em;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  transition: all 0.25s;
  padding-bottom: 2em;
  width: 90%;
  margin: 1em 5% 0;
  background-color: #FFF;
}

.plan:hover,
.plan:focus{
  background: #00C775;
  color: #000;
  border-color: #00C775;
  transform: scale(1.1);
  box-shadow: 0 0 0px 20px #00c775, 0 0 90px 20px rgb(0, 199, 117);
  z-index: 1010;
}

.plan:hover ul,
.plan:focus ul{
  color: #FFF;
}


.plan > h2{
  width: auto;
  margin: 0 auto 0.5em;
  &:before{
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background: #FFF;
    bottom: 18px;
    position: absolute;
    transition: width 0.5s ease-in-out;
  }
}
.plan:hover > h2:before,
.plan:focus > h2:before{
  width: 100%;
}


.plan:hover h2,
.plan:focus h2,
.plan:hover .price,
.plan:focus .price{
  color: #FFF;
}

.plan ul.spaced {
  padding: 0;
  margin: 0 2em 1em 3em;
  text-align: left;
  font-weight: normal;
}

.plan .price{
  margin-top: 0.5em;
  display: block;
  width: 100%;
  font-weight: bold;
  color: #000;
}

.risk{
  width: 100%;
  padding: 1rem;
  max-width: 30em;
}

.double-flex,
.triple-flex{
  display: flex;
  max-width: 48rem;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.double-flex section {
  width: 100%;
}

.triple-flex section {
  width: 100%;
}

.triple-flex br{
  display: none;
}

.triple-flex pre br {
  display: inline;
}

ul.spaced li {
  margin-bottom: 0.75em;
}

span.normal{
  font-weight: normal;
}

.centered{
  margin: 0 auto;
}

div.enterprise{
  text-align: center;
  align-items: center;
  margin-bottom: 5rem;
}

div.enterprise section h2:after{
  border-color: #6495ED;
}

div.enterprise section .green{
  color: #6495ED;
}

div.enterprise section a{
  color: #6495ED;
}

.full-height{
  display: flex;
  justify-content: center;
}

.if-wide{
  display: none;
}

.if-narrow{
  display: inline;
}

footer{
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

body:not(.index) h1,
body:not(.index) h3,
body:not(.index) h2{
  text-align: left;
}

.faq-questions{
  margin-bottom: 3em;
  padding: 0 1em;
  li{
    margin-bottom: 1em;
    &:before{
      color: #00C775;
    }
  }
}

.faq-answers{
  padding: 0;
  li{
    padding: 0;
    margin: 0 0 3em 0;
    &:before{
      display: none;
    }
  }
}

// Non-Index pages
.container{
  font-size: 0.75rem;
  header{
    background: none;
    height: 100px;
    font-size: 0.75rem;
    h1 a{
      border-bottom: none;
      color: transparent;
      &:hover,
      &:focus{
        border-bottom: none;
      }
    }
  }
  .main{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
}

.verify img {
  display: block;
  max-width: 100%;
}

figure.wide-img {
  max-width: 900px;
  margin: 2em auto;
  width: calc(100% - 20px);
  padding: 0;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
  &.no-border {
    background: none;
    max-width: 90vw;
    width: 100%;
    box-shadow: none;
    @media screen and (min-width: 959px) {
      transform: translateX(calc(25% - 424px));
      max-width: none;
      width: 959px;
    }
    img{
      border: none;
    }
    figcaption {
      background: none;
      padding: 0;
    }
  }
  img {
    max-width: 100%;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
  }
  figcaption{
    font-size: 0.6rem;
    background: #eeeeee;
    padding: 1em;
    color: #5e6269;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.oss-users{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  li{
    a {
      width: 100px;
      margin: 1em;
      height: 125px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      font-size: 1em;
      &:hover img, &:focus img,
      &:hover svg, &:focus svg{
        transform: scale(1.05);
      }
    }
    &.smaller a{
      padding: 0 0.8em 0 0.8em;
    }
    &:before{
      display: none;
    }
    span {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1em;
      text-align: center;
    }
  }
  &.no-logos {
    margin: 1em auto 3em;
    li {
      text-align: center;
      a{
        height: 30px;
        span {
          position: relative;
          bottom: 0;
        }
      }
    }
  }
  img, svg {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    transition: transform 0.25s ease-in-out;
  }
  a {
    border: none;
    color: #b6b6b6;
    &:hover, &:focus {
      border: none;
    }
  }
}

.tweets{
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  &.slick-initialized {
    opacity: 1;
  }
}

.slick-slider{
  li{
    outline: none;
    &:before{
      display: none;
    }
    em {
      display: block;
      margin-bottom: 1em;
      &:before{
        content: '”';
        display: inline-block;
        font-size: 3em;
        vertical-align: -0.48em;
        margin-right: 0.25em;
        line-height: 0;
      }
      &:after{
        content: '“';
        display: inline-block;
        font-size: 3em;
        vertical-align: -0.48em;
        margin-right: 0.25em;
        line-height: 0;
      }
    }
  }
}

.slick-arrow {
  // because slick adds an element style
  display: none !important;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  &:before {
    display: none;
  }
  button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    outline: none;
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: #b6b6b6;
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    &:hover, &:focus{
      border-color: #00c775;
      background-color: #FFF;
    }
  }
  &.slick-active button {
    background: #000;
  }
}

.enterprise-setup{
  h3 {
    margin-top: 3em;
  }
  ul{
    margin: 2em 0;
    li{
      line-height: 1.5;
      &:before {
        line-height: 1.3rem;
      }
    }
  }
  .gke-bot-user-avatar {
    max-width: 200px;
    display: block;
    margin: 2em auto;
  }
}

@media screen and (min-width: 400px) {
  html{
    font-size: 20px;
  }
}

@media screen and (min-width: 600px) {
  html{
    font-size: 22px;
  }
  nav ul{
    font-size: 0.5rem;
  }
  header span{
    font-size: 1rem;
  }
  .double-flex{
    margin: 3em auto 3em;
  }
  .double-flex section{
    width: 50%;
  }
  .double-flex .social-proof{
    width: 35%;
  }
  .double-flex .they-really-seem-to-like-us{
    width: 65%;
    padding: 0.5em 1em;
  }
  section{
    &.split-item-top,
    &.split-item-bottom{
      margin: 1em 0;
      padding: 0.5em 1em;
      ul {
        margin: inherit;
      }
    }
  }
  .oss-users li a{
    font-size: 0.75em;
  }
}

@media screen and (min-width: 800px) {
  .index nav.header{
    position: fixed;
  }
  .index header{
    margin-top: 3rem;
  }
  .risk{
    max-width: 50%;
  }
  .if-wide{
    display: inline;
  }
  .if-narrow{
    display: none;
  }
  .triple-flex{
    margin: 3em auto 3em;
  }
  .triple-flex section{
    width: 33%;
  }
  .triple-flex br{
    display: initial;
  }
  .plan{
    width: 40%;
    margin: 0 5px;
  }
  .pricing h2{
    font-size: 1.5rem;
  }
  .plan h2{
    font-size: 1rem;
    padding-top: 0.5em;
  }
  .slick-arrow{
    display: block !important;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top: -0.3em;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    line-height: 46px;
    background-color: #e6faf1;
    color: #00c775;
    box-shadow: 0 0 0 5px transparent;
    transition: box-shadow 0.25s ease-in-out;
    &.slick-prev{
      left: -3em;
    }
    &.slick-next{
      right: -3em;
    }
    &:hover, &:focus{
      outline: none;
      background-color: #e6faf1;
      color: #00c775;
      box-shadow: 0 0 0 5px #00c775;
    }
  }
}

@media screen and (min-width: 1000px) and (min-height: 800px){
  html{
    font-size: 24px;
  }
  .full-height{
    height: 100vh;
    align-items: center;
    margin: 0 auto;
  }

  div.enterprise{
    background: url(../images/enterprise_nodes.svg), url(../images/enterprise_nodes.svg);
    background-size: 450px, 450px;
    background-repeat: no-repeat;
    background-position-x: -225px, calc(100% + 225px);
    background-position-y: center;
    margin-bottom: 0;
  }
}
