@import 'slick';

$column-width: 760px;
$green-primary: #00c775;
$green-intermediary: #6fd3a1;
$green-secondary: #e6faf1;

$blue-primary: cornflowerblue;
$blue-intermediary: #a4c0f4;
$blue-secondary: #e8effc;

$text: hsla(105, 1%, 40%, 1);
$em-text: hsla(105, 1%, 30%, 1);
$white: #FFF;
$black: #000;
$off-white: #FAFAFA;

$fonts: "futura-pt", Futura, sans-serif;

@mixin theme($name, $primary, $secondary, $intermediary) {
  .#{$name} {
    code {
      background: $primary;
      color: $white;
      padding: 0.1em 0.5em;
      border-radius: 2px;
      white-space: pre-wrap;
    }
    .signal{
      color: $primary;
    }
    a{
      color: $primary;
      border-bottom: 2px solid $secondary;
      &.active-hash {
        color: $black;
        border: none;
      }
    }
    a.plan{
      color: $text;
      border: 5px solid $text;
      &:hover, &:active {
        border-color: $primary;
      }
    }
    .button {
      color: $primary;
      border: 5px solid currentColor;
      font-family: $fonts;
      font-weight: bold;
      font-size: 24px;
      background-color: rgba(0, 0, 0, 0);
      padding: 0.4em 1em;
      transition: color 0.25s;
      cursor: pointer;
      display: inline-block;
      text-align: center;
    }

    button:hover, .button:hover,
    button:focus, .button:focus{
      color: $black;
      border-color: currentColor;
    }

    .toggle-container {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0 0 2rem 0;
      justify-content: center;
      .toggle-option {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.75rem;
        max-width: 8em;
        border: none;
        &:nth-of-type(1) {
          text-align: right;
        }
      }
      .toggle-switch{
        border-radius: 30px;
        height: 40px;
        width: 60px;
        border: 3px solid $primary;
        box-shadow: 0 0 12px 0px inset #CCC;
        position: relative;
        margin: 0 0.75rem;
        outline: none;
        cursor: pointer;
        &:hover, &:focus {
          border-color: $black;
          &:before {
            background-color: $black;
          }
        }
        &:before{
          content: "";
          display: block;
          background: $primary;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 4px;
          left: 5px;
          box-shadow: 0 0 12px 0 #CCC;
          transition: all 0.25s;
        }
      }
      .toggle-option-active {
        color: $text;
      }
      .toggle-option-inactive {
        color: $green-primary;
        pointer-events: none;
        cursor: default;
      }
      &.active {
        .toggle-option-active {
          color: $green-primary;
          pointer-events: none;
          cursor: default;
        }
        .toggle-option-inactive {
          color: $text;
          pointer-events: all;
          cursor: pointer;
        }
        .toggle-switch:before {
          left: 23px;
        }
      }
    }

    .save-with-yearly-billing {
      left: 50%;
      text-align: center;
      position: absolute;
      top: 5.9rem;
      margin-left: 1rem;
      font-size: 0.65rem;
      transform: rotateZ(-5deg);
      background: #00c775;
      color: #fff;
      border-radius: 5px;
      width: 8em;
      height: 2em;
      padding: 0.2em 0em;
      text-transform: uppercase;
      border: 3px dotted #fff;
      @media screen and (min-width: 450px) {
        top: 2.5rem;
        margin-left: 7.5rem;
        transform: rotateZ(7deg);
        border-radius: 50%;
        width: 5.5em;
        height: 5.5em;
        padding: 1.25em 0.25em;
      }
      @media screen and (min-width: $column-width) {
        top: 4rem;
      }
    }

    section h2:after {
      border-bottom-color: $primary;
    }
    footer{
      background: $primary;
      color: $secondary;
      a{
        color: #FFF;
        border-bottom: 2px solid rgba(255,255,255,0.5);
      }
    }
    pre{
      color: #fff;
      background-color: $primary;
      border-radius: 5px;
    }
    .logo path{
      fill: $primary;
    }
    &.m-zooming {
      background: $intermediary;
      &:after {
        content: "Swipe image to pan. Tap to close";
        color: white;
        text-align: center;
        width: 100%;
        display: block;
        font-size: 0.875rem;
        padding: 1em 0 0.7em;
        position: relative;
        background: $intermediary;
      }
    }
    .m-magnifikCanvas {
      border: 5px solid $intermediary;
      background: $intermediary;
      // height: calc(100vh - 105px) !important;
      img {
        border-radius: 20px;
        padding: 50px;
        background: white;
        margin-top: 45px;
      }
    }
    nav.header {
      border-top: 3px solid $primary;
    }
    .features .feature svg {
      fill: $primary;
    }
  }
}

@include theme(gk-saas, $green-primary, $green-secondary, $green-intermediary);
@include theme(gk-enterprise, $blue-primary, $blue-secondary, $blue-intermediary);

* {
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

a {
  -webkit-tap-highlight-color: transparent;
  &:not([href]) {
    border: none !important;
  }
}

.super {
  vertical-align: text-top;
  font-size: 0.7em;
  font-weight: bold;
}

.small {
  font-size: 0.8em;
}

.red {
  color: #B4270F;
}

.purple {
  color: #A52A9A;
}

.green {
  color: $green-primary;
}

.align-left,
.single.align-left{
  text-align: left;
}

body{
  font-family: sans-serif;
  color: $text;
  background-color: $off-white;
  margin: 0;
  padding: 0;
  line-height: 1.35;
  background-repeat: repeat-y;
  background-size: 100%;
  // background-image: url(../images/bg_nodes_gk-saas.svg);
  &.gk-enterprise{
    // background-image: url(../images/bg_nodes_gk-enterprise.svg);
  }
  &.no-scroll {
    overflow: hidden;
  }
  &:not(.index) .container {
    margin-top: 4rem;
  }
}

strong {
  color: $em-text;
}

.language-switch {
  position: fixed;
  top: 1.15rem;
  z-index: 2001;
  left: 1rem;
  font-family: $fonts;
  font-size: 0.75rem;
  border: 3px solid currentColor !important;
  border-radius: 50%;
  width: 2.25em;
  line-height: 1.9em;
  height: 2.25em;
  text-align: center;
}

nav {
  padding: 1rem 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.65);
  height: auto;
  top: 0;
  z-index: 2000;
}

/*
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 0.75rem;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  flex-wrap: wrap;
  font-family: $fonts;
  letter-spacing: 0.1em;
  li{
    &.account {
      order: -1;
      width: 100%;
      text-align: right;
      margin-bottom: 1.5em;
      @media screen and (min-width: $column-width) {
        order: inherit;
        width: auto;
        text-align: inherit;
        margin-bottom: 0;
        margin-left: auto;
      }
    }
  }
}
*/

nav.header {
  position: fixed;
  width: 100vw;
  height: 3.9rem;
  background: $white;
  padding: 0;
  top: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  z-index: 2000;
  // transition: all 0.5s;
  &.is-active {
    height: 100vh;
    ul {
      transform: translateX(0);
    }
  }
  ul {
    transform: translateX(-100vw);
    // transition: all 0.5s;
    margin: 1em 0 2em 1em;
    padding: 0;
    li {
      display: block;
      margin: 0 0 1em 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-family: $fonts;
    }
  }
}

nav ul li {
  display: inline-block;
  margin: 0.5em 1.4em 0.5em 0;
  &.active a {
    color: #000;
    pointer-events: none;
    border-bottom: none;
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      left: calc(50% - 5px);
      padding: 0;
      border: 5px solid transparent;
      border-bottom-color: #000;
      top: 0.6rem;
    }
  }
}

a.menu-button {
  display: flex;
  border: none !important;
  position: absolute;
  right: 1.25rem;
  top: 0.85rem;
  color: $black;
  fill: currentColor;
  font-family: $fonts;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  .menu, .close {
    line-height: 2.1rem;
    position: absolute;
    right: 2.5rem;
    color: inherit;
    transition: all .2s;
  }
  .menu {
    opacity: 1;
  }
  .close {
    opacity: 0;
  }
  .icon {
    width: 2rem;
    height: 2rem;
    svg {
      transition: all .2s;
    }
  }
  &.is-active {
    .menu {
      opacity: 0;
    }
    .close {
      opacity: 1;
    }
    svg {
      transform: rotate(45deg);
    }
  }
}

@keyframes from-top{
  0% {
    transform: translateY(-200px);
  };
  100% {
    transform: translateY(0);
  };
}

nav ul li a{
  // margin-left: 0.25em;
  position: relative;
  // Embiggen touch targets
  &:before{
    content: "";
    padding: 1.6em 1em;
    width: 100%;
    position: absolute;
    left: -1em;
    top: -1em;
  }
}

@keyframes scrollGood {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,-600px,0);
  }
}

.index .hero {
  overflow: hidden;
  position: relative;
  min-height: 190px;
  // box-shadow: 0px 0px 9px 1px hsla(154, 95%, 30%, 1) inset;
  color: $white;
  margin-top: 2.5rem;
  padding: 3rem 0;
  header{
    margin-top: 0;
  }
  h1{
    color: $white;
    letter-spacing: 0.05em;
    text-shadow: 0px 0px 10px hsla(154, 95%, 25%, 1);
    text-align: left;
    font-weight: normal;
  }
  span {
    font-size: 0.85rem;
    letter-spacing: 0.05em;
    max-width: 15em;
    display: block;
    text-shadow: 0 0 10px #037c48;
    color: hsla(155, 100%, 98%, 1);
    font-family: $fonts;
    text-transform: uppercase;
  }
  .scroller {
    background-color: #05b76a;
    background-image: url(../images/hero-bg.svg);
    background-position: center center;
    background-size: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1200px;
    width: 100%;
    z-index: -1;
    @media screen and (min-width: $column-width) {
      animation: scrollGood 120s linear infinite;
    }
  }
}

.billboard {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  background: white;
  z-index: 5;
  margin: -3.5em auto 3em;
  box-shadow: 0px 2px 5px 0px RGBA(0,0,0,0.3);
  padding: 0.25em 1.5em 0.5em;
  align-items: center;
  h1 {
    font-size: 1rem;
    color: hsla(120, 1%, 30%, 1);
    text-align: center;
  }
}

nav.footer {
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $fonts;
  letter-spacing: 0.1em;
}

body:not(.index) nav.footer {
  width: 90%;
  max-width: $column-width;
  margin: 0 auto;
  ul{
    justify-content: flex-start;
    padding: 0;
    li{
      margin: 0.5em 1em 0.5em 0;
    }
  }
}

@keyframes bounce-bg-in{
  0% {
    background-size: 0;
  };
  100% {
    background-size: 90vw;
    @media screen and (min-width: $column-width) {
      background-size: 450px;
    }
  };
}

@media screen and (min-width: $column-width) {
  @keyframes bounce-bg-in{
    0% {
      background-size: 0;
    };
    100% {
      background-size: 450px;
    };
  }
}

a.enterprise,
.enterprise a{
  color: cornflowerblue; /* of course */
  border-bottom: 2px solid rgba(100, 149, 237, 0.1);
}

.hero header{
  width: 90%;
  max-width: $column-width;
  margin: 0 auto 1.5rem;
  display: flex;
  align-items: center;
  .logo {
    width: 4.5rem;
    height: 4.5rem;
    background: $green-primary;
    border-radius: 100%;
    margin: 0.2em 1em 0 0;
    padding: 0.1em;
    path {
      fill: $white
    }
  }
  h1{
    font-size: 1.5rem;
  }
  /*
  background-image: url(../images/nodes.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0;
  width: 100%;
  height: 450px;
  height: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1em;
  animation: bounce-bg-in 750ms cubic-bezier(0.26,1.48,.47,.96) 1s forwards 1;
  */
}

@keyframes appear-from-blur{
  0% {
    text-shadow: 0 0 500px #000;
    opacity: 0;
  };
  100% {
    text-shadow: 0 0 0 #000;
    opacity: 1;
  };
}

header h1{
  display: block;
  margin: 0;
  font-weight: bold;
}

@keyframes fade-in{
  0% {
    opacity: 0;
  };
  100% {
    opacity: 1;
  };
}

.index {
  header {
    justify-content: center;
  }
  nav.footer {
    width: 100%;
    display: block;
    max-width: 100%;
    padding: 0.5em 1em;
  }
}


.get-started{
  opacity: 0;
  animation: fade-in 500ms ease-out 1850ms forwards 1;
  margin: 0 auto 2em;
  max-width: 80%;
}

.get-started .button{
  background-color: #00c775;
  color: #FFF;
  padding: 0.4em;
  display: block;
  margin: 0 auto;
  max-width: 600px;
  transition: all 0.25s;
  border: 3px solid #00c775;
  font-weight: normal;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
}

.get-started .button:hover,
.get-started .button:focus{
  background: #fff;
  color: #00c775;
  border-bottom: 3px solid #00c775;
  // Override links in headlines
  border-color: #00c775;
  transform: scale(1.1);
  box-shadow: 0 0 0px 10px #00c775, 0 0 90px 20px rgb(0, 199, 117);
  z-index: 1010;
}

h1, h2, h3, h4, h5, h6{
  font-family: $fonts;
  font-weight: 500;
  color: #000;
  text-align: center;
  a{
    border-width: 4px;
    font-weight: 500;
    &:hover, &:focus{
      border-width: 4px;
    }
    &[id] {
      color: black;
      border: none;
      padding-top: 3em;
      display: inline;
    }
  }
}

img{
  &.with-border{
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
  }
}

.wf-loading {
  h1, h2, h3, h4, h5, h6 {
    visibility: hidden;
  }
}

.wf-active {
  h1, h2, h3, h4, h5, h6 {
    visibility: visible;
  }
}

a{
  text-decoration: none;
  transition: all 0.25s;
  font-weight: bold;
}

a:not(.plan):hover,
a:not(.plan):focus{
  color: #000;
  border-color: #000;
  outline: none;
}

a:not([href]) {
  display: block;
  border: none;
  background: transparent;
  margin-bottom: 2rem;
  padding-top: 0.1px;
}

a[href="#top"] {
  margin-bottom: 3em;
  display: inline-block;
}

pre{
  display: block;
  padding: 1em;
  margin: 0;
  line-height: 1rem;
  white-space: normal;
}

p{
  line-height: 1.5;
}

.no-select {
  user-select: none;
}
ul{
  list-style: none;
  padding-left: 1em;
}

ul {
  li {
    margin-bottom: 1.25em;
    line-height: 1.5;
  }
  &.compact-list li {
    margin-bottom: 0.5em;
  }
}

ul li:before {
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -0.7em;
  color: currentColor;
  font-size: 1.5em;
  line-height: 1.15em;
}

nav ul li:before{
  display: none;
}

ol {
  counter-reset: listcounter;
  list-style: none;
  padding-left: 2em;
  li {
    position: relative;
    &:before {
      content: counter(listcounter);
      counter-increment: listcounter;
      position: absolute;
      left: -2em;
      background: #00c775;
      border-radius: 100%;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      color: white;
      text-align: center;
    }
  }
}

section{
  font-size: 0.75rem;
  padding: 0.5em 1em;
  margin: 3em 0;
  position: relative;
  max-width: 100vw;
  &.split-item-top{
    margin-bottom: 0;
    padding-bottom: 0;
    ul {
      margin-bottom: 0;
    }
  }
  &.split-item-bottom{
    margin-top: 0;
    padding-top: 0;
    ul {
      margin-top: 0;
    }
  }
}
.compact {
  .split-item-top, .split-item-bottom {
    width: auto;
    display: flex;
    align-items: center;
  }
  .split-item-top {
    margin: 1em 0 2em;
  }
}

.try{
  overflow: hidden;
  max-width: 15em;
  background: white;
  background: #02c774;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 1em auto;
  text-align: center;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.3);
  padding: 0.5em 1em 0.75em;
  transition: 0.1s all ease-out;
  &:hover, &:focus {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 2px 10px 0px rgba(0,0,0,0.3);
  }
  &.overlap {
    margin-top: -3.5em;
  }
  a {
    text-decoration: none;
    line-height: 2.25;
    h3 {
      text-align: center;
      margin: 0;
      color: white;
      letter-spacing: 0.025em;
    }
    span {
      display: block;
      color: $text;
      font-size: 0.75rem;
      font-weight: 200;
      line-height: 1.5;
      color: white;
    }
  }
}

section h2 {
  padding-bottom: 1em;
  position: relative;
}

section h2:after {
  content: "";
  border-bottom: 4px solid transparent;
  display: block;
  width: 3rem;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1.5rem);
  top: 2em;
}

.single {
  margin: 3em auto 3em;
  max-width: 30rem;
  text-align: center;
  .left-aligned{
    text-align: left;
  }
}

.double-flex {
  &> h2 {
    margin: 0 1em;
  }
  h3 {
    max-width: 25em;
    min-width: 270px;
    padding: 0 1em;
  }
}

.double-flex .social-proof{
  width: 100%;
}

.double-flex .they-really-seem-to-like-us{
  padding: 0 2em;
  width: 100%;
}
.they-really-seem-to-like-us ul{
  padding-left: 0;
  max-width: 90vw;
}

.pricing{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
  background-color: transparent;
  padding: 0;
  justify-content: center;
  max-width: 48rem;
  align-items: flex-start;
  h2{
    padding: 1em 0;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    &:after{
      display: none;
    }
  }
}

.plan {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid;
  padding: 1em;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  transition: all 0.25s;
  width: 90%;
  margin: 1em 5% 0;
  background-color: #FFF;
  strong{
    color: inherit;
  }
  .button {
    width: 100%;
    margin: 0.5em 0em 0;
    color: $white;
    background: $green-primary;
    border: 4px solid $green-primary;
    font-weight: normal;
    letter-spacing: 0.025em;
  }
}

.plan:hover,
.plan:focus{
  background: #00C775;
  color: #000;
  border-color: #00C775;
  transform: scale(1.1);
  box-shadow: 0 0 0px 20px #00c775, 0 0 90px 20px rgb(0, 199, 117), 0px 0px 20px 15px $black;
  z-index: 1010;
  .button {
    border: 5px solid $white;
    &:hover, &:focus {
      color: $white;
    }
  }
  ul{
    color: $white;
  }
}


.plan > h2{
  width: auto;
  margin: 0 auto 0.5em;
  &:before{
    content: "";
    display: block;
    height: 4px;
    width: 0%;
    background: #FFF;
    top: 2.5em;
    position: absolute;
    transition: width 0.5s ease-in-out;
  }
}
.plan:hover > h2:before,
.plan:focus > h2:before{
  width: 100%;
}

.plan:hover h2,
.plan:focus h2,
.plan:hover .price,
.plan:focus .price{
  color: #FFF;
  small {
    color: $white;
  }
}

.plan ul.spaced {
  padding: 0;
  margin: 0 2em 1em 3em;
  text-align: left;
  font-weight: normal;
}

.plan .price{
  margin: 0em 0 1.5em 0;
  display: block;
  width: 100%;
  font-weight: bold;
  color: #000;
  font-family: $fonts;
  font-size: 1.5rem;
  small {
    color: #666;
  }
}

.plan {
  .monthly { display: inline; }
  .yearly { display: none; }
  &.yearly {
    .monthly { display: none; }
    .yearly { display: inline; }
  }
}

.centered-p{
  width: 100%;
  padding: 1rem;
  max-width: 30em;
  margin: 0 auto;
}

.double-flex,
.triple-flex{
  display: flex;
  max-width: 48rem;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.double-flex section {
  width: 100%;
}

.triple-flex section {
  width: 100%;
}

.triple-flex br{
  display: none;
}

.triple-flex pre br {
  display: inline;
}

ul.spaced li {
  margin-bottom: 0.75em;
}

span.normal{
  font-weight: normal;
}

.centered{
  margin: 0 auto;
}

div.enterprise{
  text-align: center;
  align-items: center;
  margin-bottom: 5rem;
}

div.enterprise section h2:after{
  border-color: $blue-primary;
}

div.enterprise section .green{
  color: $blue-primary;
}

div.enterprise section a{
  color: $blue-primary;
}

.full-height{
  display: flex;
  justify-content: center;
}

.if-wide{
  display: none;
}

.if-narrow{
  display: inline;
}

footer{
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

body:not(.index) h1,
body:not(.index) h3,
body:not(.index) h2{
  text-align: left;
}

.faq-answers{
  padding: 0;
  li{
    padding: 0;
    margin: 0 0 3em 0;
    &:before{
      display: none;
    }
  }
}

// Non-Index pages
.container{
  font-size: 0.75rem;
  header{
    background: none;
    height: 100px;
    font-size: 0.75rem;
    h1 a{
      border-bottom: none;
      color: transparent;
      &:hover,
      &:focus{
        border-bottom: none;
      }
    }
  }
  .main{
    width: 90%;
    max-width: $column-width;
    margin: 0 auto;
    padding-bottom: 2em;
  }
}

.verify img {
  display: block;
  max-width: 100%;
}

figure.wide-img {
  max-width: 900px;
  margin: 2em auto;
  width: calc(100% - 20px);
  padding: 0;
  background: #FFF;
  box-shadow: 0 2px 5px 2px rgba(0,0,0,0.2);
  &.no-border {
    background: none;
    max-width: 90vw;
    width: 100%;
    box-shadow: none;
    @media screen and (min-width: 959px) {
      max-width: none;
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      display: flex;
      justify-content: center;
    }
    img{
      border: none;
    }
    figcaption {
      background: none;
      padding: 0;
    }
  }
  img {
    max-width: 100%;
    margin: 0;
    padding: 1em 1em 0;
    display: block;
  }
  figcaption{
    font-size: 0.6rem;
    background: #eeeeee;
    padding: 1em;
    color: #5e6269;
    &:after {
      @media screen and (max-width: $column-width) {
        content: " (Tap image to enlarge)";
      }
    }
  }
}

.tweets{
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  &.slick-initialized {
    opacity: 1;
  }
}

.slick-slider{
  li{
    outline: none;
    &:before{
      display: none;
    }
    em {
      display: block;
      margin-bottom: 1em;
      &:before{
        content: '”';
        display: inline-block;
        font-size: 3em;
        vertical-align: -0.48em;
        margin-right: 0.25em;
        line-height: 0;
        color: #00c775;
      }
      &:after{
        content: '“';
        display: inline-block;
        font-size: 3em;
        vertical-align: -0.48em;
        margin-right: 0.25em;
        line-height: 0;
        color: #00c775;
      }
    }
  }
}

.slick-arrow {
  // because slick adds an element style
  display: none !important;
}

.slick-arrow {
  color: $green-primary;
  border: 5px solid currentColor;
  font-family: $fonts;
  font-weight: bold;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.4em 1em;
  transition: color 0.25s;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  &:before {
    display: none;
  }
  button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    outline: none;
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: #b6b6b6;
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    &:hover, &:focus{
      border-color: #00c775;
      background-color: #FFF;
    }
  }
  &.slick-active button {
    background: #000;
  }
}

.enterprise-setup{
  h3 {
    margin-top: 3em;
  }
  ul{
    margin: 2em 0;
    li{
      line-height: 1.5;
      &:before {
        line-height: 1.3rem;
      }
    }
  }
  .gke-bot-user-avatar {
    max-width: 200px;
    display: block;
    margin: 2em auto;
  }
}

.customer-list {
  list-style: none;
  padding: 0;
  max-width: 1000px;
  margin: 0 auto;
  li {
    display: inline-block;
    width: 90px;
    margin: 20px;
    vertical-align: top;
    :before{
      content: "";
    }
    img {
      max-width: 100%;
      border-radius: 10px;
    }
    transition: all 0.25s;
    :hover{
      transform: scale(1.2);
    }
  }
}

.full-width-breakout {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

// Style guide

.swatch-list{
  margin: 2em 0;
  li {
    margin: 2em 0;
    display: flex;
    align-items: flex-start;
    &:before {
      display: none;
    }
    .swatch {
      display: inline-block;
      width: 3em;
      height: 3em;
      border-radius: 50%;
      margin: 0 1em 0 0;
      flex-shrink: 0;
      &.bordered{
        box-shadow: inset 0 0 0px 1px black;
      }
    }
    strong {
      margin-right: 1em;
      text-transform: uppercase;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}

.logo-collection {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  .logo-container {
    max-width: 200px;
    margin: 0 auto;
    p {
      text-align: center;
    }
  }
}

.breakout-table {
  overflow-x: auto;
  table{
    width: auto;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
    td:last-child, th:last-child {
      border-right: none;
    }

    tr:last-child td {
      border-bottom: none;
    }
    td:first-child, th:first-child {
      border-left: none;
    }
    th, td {
      vertical-align: top;
      border: 1px solid $text;
      padding: 1em;
    }
    th {
      border-top: none;
    }
  }
  @media screen and (min-width: $column-width) {
    overflow-x: visible;
    table {
      margin-left: calc(-90vw / 2 + 760px / 2);
      margin-right: calc(-90vw / 2 + 760px / 2);
    }
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .feature {
    min-width: 300px;
    max-width: 40%;
    margin: 0 1em;
    position: relative;
    svg {
      width: 40px;
      height: 40px;
      position: absolute;
      margin-top: 1.75em;
    }
    h3 {
      font-size: 1.75em;
      text-align: left;
      margin-left: 50px;
    }
    p, ul {
      margin-left: 50px;
    }
  }
}

.cc-banner{
  .cc-link {
    border: none;
  }
  .cc-btn {
    margin: 0;
    border: 3px solid $green-primary !important;
    padding: .4em .8em;
    &:hover {
      border-color: $white !important;
    }
  }
}

.image-header{
  margin: 5rem auto 3rem;
  width: 80%;
  max-width: 45rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    &:after {
      display: none;
    }
    strong{
      font-size: 1.5rem;
      color: $black;
      margin-bottom: 0.5em;
      display: block;
    }
  }
  p {
    width: 100%;
    text-align: center;
  }
  .img {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
    overflow: hidden;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    padding: 0.5em;
    border-top-width: 20px;
    box-shadow: 0 0 20px rgba(50,50,50,.1);
    background: #fff;
    margin-top: 2rem;
    img {
      max-height: 100%;
      width: 100%;
    }
  }
}

a.cta {
  font-family: $fonts; // yay iOS safari
  width: auto;
  background: $blue-primary;
  color: $white;
  letter-spacing: 2px;
  font-weight: normal;
  border: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 1em 2em;
  box-shadow: 0 0 0px 0px $blue-primary;
  transition: box-shadow 0.5s;
  z-index: 99;
  position: relative;
  outline: none;
  min-width: 13em;
  text-align: center;
  &:before {
    content: "";
    display: none;
    border: 10px solid transparent;
    position: absolute;
    right: auto;
    left: calc(50% - 10px);
    border-color: transparent;
    border-top-color: $blue-primary;
    top: -36%;
  }
  &:after{
    content: "Start your risk-free 30 day trial with setup support today";
    display: none;
    position: absolute;
    background: $blue-primary;
    padding: 1em;
    right: auto;
    left: auto;
    top: -7.2em;
    margin: 0 0 0 -22%;
    text-align: center;
    width: 100%;
  }
  &:before, &:after {
    opacity: 0;
    transform: translateX(-1em);
    transition: opacity 0.5s, transform 0.5s;
  }
}

.cc-banner .cc-btn {
  &:hover, &:focus{
    color: $white;
    border-color: currentColor;
  }
}

.centered-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    width: 30%;
    min-width: 270px;
    margin-left: 0.5rem;
    margin-right: 1.5em;
  }
  &.two-column li {
    width: 40%;
  }
  @media screen and (min-width: 1224px) {
    justify-content: flex-start;

    &.two-column {
      justify-content: center;
    }
  }
}

@media screen and (min-width: 400px) {
  html{
    font-size: 20px;
  }
}

// Flip to wide layout and non-mobile nav
@media screen and (min-width: $column-width) {
  a:not([href]) {
    margin-bottom: 2rem;
  }
  body.no-scroll {
    overflow: visible;
  }
  html{
    font-size: 22px;
  }
  a.menu-button {
    display: none;
  }
  .language-switch {
    left: auto;
    font-size: 0.6rem;
    top: 0.65rem;
    display: block;
    right: 1rem;
  }
  nav.header {
    position: fixed;
    height: 2.5rem;
    background-color: $white;
    align-items: center;
    box-shadow: 0 0 10px 5px hsla(0, 0%, 50%, 0.1);
    ul{
      display: flex;
      font-size: 0.6rem;
      list-style: none;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-weight: bold;
      font-family: $fonts;
      letter-spacing: 0.1em;
      //transition: none;
      transform: translateX(0);
      width: 90%;
      // max-width: 760px;
      margin: 0 auto;
      li {
        width: auto;
        margin: 0 1em 0em 0;
        &.account {
          position: absolute;
          right: 1rem;
        }
      }
    }
  }
  body.index nav.header ul {
    max-width: none;
  }
  header span{
    font-size: 1rem;
  }
  .double-flex{
    margin: 3em auto 3em;
  }
  .double-flex section{
    width: 50%;
  }
  .double-flex .social-proof{
    width: 35%;
  }
  .double-flex .they-really-seem-to-like-us{
    width: 65%;
    padding: 0.5em 1em;
  }
  .double-flex {
    h3 {
      min-width: 25em;
    }
  }
  .limit-width {
    max-width: 68em;
    margin: 0 auto 4rem;
  }
  section{
    &.split-item-top,
    &.split-item-bottom{
      margin: 1em 0;
      padding: 0.5em 1em;
      ul {
        margin: inherit;
      }
    }
  }
  .compact .split-item-top {
    margin: 0;
  }
  .oss-users li a{
    font-size: 0.75em;
  }
  .tweets {
    font-size: 1.25rem;
    line-height: 1.6;
  }
  .image-header {
    align-items: flex-start;
    text-align: left;
    height: 630px;
    h2, p {
      width: 30%;
      text-align: left;
    }
    button {
      width: auto;
    }
    .img {
      width: 60%;
      margin-top: 0;
      margin-left: 1em;
    }
  }
}

@media screen and (min-width: 800px) {
  .billboard{
    flex-wrap: nowrap;
    max-width: 700px;
    h1{
      text-align: left;
    }
  }
  .index nav.header{
    position: fixed;
  }
  .index header{
    margin-top: 3rem;
  }
  .centered-p{
    max-width: 50%;
  }
  .if-wide{
    display: inline;
  }
  .if-narrow{
    display: none;
  }
  .triple-flex{
    margin: 3em auto 3em;
  }
  .triple-flex section{
    width: 33%;
  }
  .triple-flex br{
    display: initial;
  }
  .plan{
    width: 32%;
    margin: 0 5px;
    &:nth-of-type(1){
      transform-origin: left;
    }
    &:nth-of-type(3){
      transform-origin: right;
    }
  }
  .pricing h2{
    font-size: 1.5rem;
  }
  .plan h2{
    font-size: 1rem;
    padding-top: 0.5em;
    :before {
      top: 2em;
    }
  }
  .slick-arrow{
    display: block !important;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top: -0.3em;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    line-height: 46px;
    background-color: #e6faf1;
    color: #00c775;
    box-shadow: 0 0 0 5px transparent;
    transition: box-shadow 0.25s ease-in-out;
    &.slick-prev{
      left: -3em;
    }
    &.slick-next{
      right: -3em;
    }
    &:hover, &:focus{
      outline: none;
      background-color: #e6faf1;
      color: #00c775;
      box-shadow: 0 0 0 5px #00c775;
    }
  }
  a.cta {
    &:before {
      display: block;
      left: 13.6em;
      right: auto;
      top: auto;
      border-color: transparent;
      border-right-color: $blue-primary;
    }
    &:after {
      display: block;
      left: 17.5em;
      width: 13em;
      text-align: left;
      top: 50%;
      margin-top: -2.9em;
    }
    &:hover, &:focus {
      box-shadow: 0 0 300px 300px rgba(100, 149, 237, 0.5); // $blue-primary at 0.5A
      color: $white;
      &:before, &:after {
        opacity: 1;
        transform: translateX(0)
      }
    }
  }
  .split-item-bottom a.cta {
    &:after {
      right: 110%;
      left: auto;
    }
    &:before {
      right: 102%;
      left: auto;
      border-color: transparent;
      border-left-color: #6495ed;
    }
  }
}

@media screen and (min-width: 1000px) and (min-height: 800px){
  html{
    font-size: 24px;
  }
  .full-height{
    min-height: calc(100vh - 15rem);
    align-items: flex-start;
    margin: 0 auto;
  }

  div.enterprise{
    background: url(../images/enterprise_nodes.svg), url(../images/enterprise_nodes.svg);
    background-size: 450px, 450px;
    background-repeat: no-repeat;
    background-position-x: -225px, calc(100% + 225px);
    background-position-y: center;
    margin-bottom: 0;
  }
}


@media screen and (min-width: 1200px) {
  body.sidebar-nav{
    .main {
      margin: 0 0 0 auto;
      width: 67vw;
      max-width: none;
      padding: 0 4rem;
    }
    .sidebar {
      position: fixed;
      left: 0;
      top: 2.5rem;
      bottom: 0;
      width: 33vw;
      max-width: 25rem;
      padding: 2em 1em 2em;
      overflow-y: scroll;
      box-shadow: 0 0 10px 5px rgba(128,128,128,0.1);
    }
    nav.footer {
      margin: 0 0em 0 auto;
      width: 67vw;
      max-width: none;
      ul {
        text-align: center;
      }
    }
    footer {
      margin: 0 0em 0 auto;
      width: 67vw;
    }
  }
}

li a:not([href]) {
  margin-bottom: 0;
  transform: translateY(-4em);
}
