<div class="container">
  <div class="main" role="main">
    <h1>Datenschutzerklärung</h1>

    <h2>Allgemein</h2>

    <p>Der Besuch dieser Website ist mit der Verarbeitung von personenbezogenen Daten verbunden. Zwar sind beim bloßen Aufrufen der Seite grundsätzlich keine Angaben über personenbezogene Daten erforderlich, da jedoch bestimmte Funktionen der Website und damit möglicherweise verbundener Dienste einen Verarbeitungsvorgang hervorrufen können, sollen alle Besucher an dieser Stelle über die für die Verarbeitung verantwortliche Stelle, den Zweck und den Umfang der Verarbeitung und natürlich über ihre Rechte als Betroffene informiert werden. Alle Datenverarbeitungsvorgänge auf dieser Website erfolgen im Einklang mit den datenschutzrechtlichen gesetzlichen Vorschriften, insbesondere mit der Datenschutz-Grundverordnung (DSGVO) und dem Bundesdatenschutzgesetz (BDSG). Es wird daher von den Betroffenen eine Einwilligung für die Verarbeitung eingeholt, wenn nicht eine gesetzliche Grundlage für den einzelnen Verarbeitungsvorgang vorhanden ist.</p>

    <h2>Verantwortliche Stelle</h2>

    <p>Verantwortlicher im Sinne der DSGVO und des BDSG ist:</p>

    <p>
    Neighbourhoodie Software GmbH, Ohlauer Straße 43, 10999 Berlin <br>
    E-Mail: hi@neighbourhood.ie<br>
    Telefon: +49 157 334 87 590 <br>
    Geschäftsführer: Jan Lehnardt<br>
    Sitz der Gesellschaft: Berlin<br>
    Registergericht: Amtsgericht Charlottenburg<br>
    Registernummer: HRB 157851 B<br>
    Umsatzsteuer-ID gem. § 27a UStG: DE 2945 12169<br>
    Verantwortlich für den Inhalt: Jan Lehnardt<br>
    </p>

    <h2>Kurzfassung „Ihre Rechte“</h2>

    <p>Nach der DSGVO bzw. dem BDSG haben die von der Datenverarbeitung Betroffenen ein Auskunftsrecht (Art.15 DSGVO) über die von ihnen erhobenen Daten, können eine Bestätigung über die Datenverarbeitung und eine Zurverfügungstellung einer Kopie der Daten verlangen sowie ein Beschwerderecht bei der zuständigen Aufsichtsbehörde (Art. 77 DSGVO). Sie haben ein Recht auf Berichtigung (Art. 16 DSGVO), das auch in der Vervollständigung der Daten liegen kann. Sie haben ein Recht auf Löschung („Vergessenwerden“) (Art. Art. 17 DSGVO) und ein Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO) sowie ein Recht auf Datenübertragbarkeit (Art. 20 DSGVO). Betroffene haben ein Recht auf Widerspruch (Art. 21 DSGVO) der künftigen Verarbeitung der Daten und es gelten die Einschränkungen zu den Automatisierten Entscheidungen im Einzelfall einschließlich Profiling (Art. 22 DSGVO).
    </p>

    <h2>Cookies</h2>

    <p>Auf dieser Website kommen sogenannte Cookies zum Einsatz (Session-Cookies und Permanent-Cookies). Cookies sind von einem Server generierte Textdateien, in denen Informationen über den auf die Seite zugreifenden Nutzer gespeichert und auf dessen Gerät abgelegt werden. Session-Cookies werden nur für die Dauer des Besuches der Website, Permanent-Cookies hingegen werden dauerhaft auf dem Gerät des Nutzers gespeichert. Bei erneutem Zugriff auf die Website kann der Server den Nutzenden über die Permanent-Cookies identifizieren und die auf diese Weise hinterlegten Informationen auswerten. Die durch den Einsatz von Cookies erhobenen Daten können mit den mittels Erstellung von Nutzungsprofilen erhobenen Daten zusammengeführt werden.
    </p>
    <p>Wenn die_der Nutzende mit dem Einsatz von Cookies nicht einverstanden ist, hat sie_er die Möglichkeit, über Einstellungen des Browsers das Setzen von Cookies zu verhindern und auch bereits gesetzte Cookies zu löschen. Es ist dann jedoch nicht sichergestellt, dass die Website vollständig angezeigt wird und alle Funktionen genutzt werden können.
    </p>
    <p>Cookies werden ausschließlich zur Ermöglichung von Sicherheitsfunktionen unseres Dienstleisters Cloudflare gesetzt.
    </p>
    <h2>Statistik, Darstellung, Zusammenarbeit mit Behörden
    </h2>
    <p>Es werden keine statistischen Daten von uns erhoben. Eine Zuordnung dieser Daten zu einer bestimmten Person ist nicht möglich.</p>

    <h2>Greenkeeper Service</h2>

    <p>Bei der Anmeldung und Benutzung des Dienstes Greenkeeper, werden ggfs. personenbezogene Daten erhoben. Es werden ausschließlich Daten erhoben die unbedingt zum Betrieb des Services benötigt werden.
    </p>

    <div class='breakout-table'>
      <table>
        <thead>
          <th>Name</th>
          <th>Verarbeitungszweck</th>
          <th>Service</th>
        </thead>
        <tbody>
          <tr>
            <td>Asana, 1550 Bryant Street, 8th Floor, San Francisco, CA 94103</td>
            <td>Projektplanung</td>
            <td>TNH, intern</td>
          </tr>
          <tr>
            <td>Slack, San Francisco, 500 Howard Street, San Francisco, CA 94105, United States</td>
            <td>Kommunikation</td>
            <td>TNH, intern</td>
          </tr>
          <tr>
            <td>Google Inc., 1600 Amphitheatre Pkwy, Mountain View, CA 94043-1351, USA</td>
            <td>E-Mail, Kontaktformular, Google Drive zur Dokumentverarbeitung</td>
            <td>TNH, Greenkeeper</td>
          </tr>
          <tr>
            <td>Mailchimp, Atlanta, Georgia, USA</td>
            <td>Aussendung von Newsletter zu Informations- und/oder Werbezwecken</td>
            <td>Greenkeeper Exit-Survey</td>
          </tr>
          <tr>
            <td>Digital Ocean, CA, USA</td>
            <td>Hosting</td>
            <td>Greenkeeper</td>
          </tr>
          <tr>
            <td>Stripe, San Francisco, CA, USA</td>
            <td>Zahlungsabwicklung Greenkeeper SaaS</td>
            <td>Greenkeeper SaaS</td>
          </tr>
          <tr>
            <td>Quaderno, Las Palmas, Barcelona, Berlin </td>
            <td>Besteuerung EU bei Zahlung Greenkeeper SaaS</td>
            <td>Greenkeeper SaaS</td>
          </tr>
          <tr>
            <td>Cloudflare, Inc., 101 Townsend St., San Francisco, CA 94107, USA</td>
            <td>Hosting</td>
            <td>Webseite https://greenkeeper.io</td>
          </tr>
          <tr>
            <td>Rollbar, 51 Federal Street, Suite 401, San Francisco, CA 94107</td>
            <td>Error Reporting</td>
            <td>Greenkeeper SaaS</td>
          </tr>
          <tr>
            <td>CloudAMQP, 84codes AB, Sveavägen 98, 11350 Stockholm, Sweden</td>
            <td>Job queue</td>
            <td>Greenkeeper SaaS</td>
          </tr>
          <tr>
            <td>Intercom R&amp;D Unlimited Company, Stephen Court, 18-21 St. Stephen’s Green, Dublin 2, Republic of Ireland</td>
            <td>Greenkeeper Support, erreichbar über support@greenkeeper.io, enterprise@greenkeeper.io </td>
            <td>Greenkeeper Support</td>
          </tr>
          <tr>
            <td>IRCCloud</td>
            <td>Slack/Team Kommunikation</td>
            <td>TNH</td>
          </tr>
        </tbody>
      </table>
    </div>




    <p>Die Übermittlung der Daten ist nicht gesetzlich oder vertraglich vorgeschrieben und es besteht auch keine sonstige Verpflichtung dazu. Allerdings ist die Übermittlung für die Vertragserfüllung durch uns erforderlich, so dass wir unsere Leistungen ohne die Übermittlung nicht anbieten können.
    </p>
    <p>Zusätzlich zu dem allgemeinen Hinweis auf das Recht zum Widerruf einer Einwilligung (s. u.) weisen wir an dieser Stelle darauf hin, dass es Ihnen jederzeit freisteht, die Einwilligung zur Erhebung, Verarbeitung und/oder Nutzung der an uns übermittelten Daten zu widerrufen. Ein solcher Widerruf ist nicht an eine bestimmte Form gebunden und kann daher auf dem von Ihnen bevorzugten Kommunikationsweg übermittelt werden.
    </p>

    <h2>Kontaktaufnahme per E-Mail
    </h2>
    <p>Wenn Sie mit uns per E-Mail Kontakt aufnehmen, gelten die unter der Überschrift Kontaktformular stehenden Informationen entsprechend.</p>

    <h2>Speicherdauer und Löschung
    </h2>
    <p>Die auf dieser Website verarbeiteten Daten werden nach der Erreichung des mit der Verarbeitung jeweils beabsichtigten Zweckes, nicht jedoch vor Ablauf einer gesetzlichen Aufbewahrungsfrist gelöscht. Insoweit die Daten für den Abschluss eines Vertrages, die Vertragserfüllung und/oder die Vertragsbeendigung erforderlich sind, werden sie für die dafür jeweils notwendige Zeit gespeichert und nach Beendigung der vertraglichen Beziehung gelöscht, soweit es nicht vertragliche und/oder gesetzliche Pflichten zur Speicherung der Daten gibt.
    </p>

    <h2>Rechtsgrundlage</h2>

    <p>Rechtsgrundlage für die Verarbeitung von Daten ist Art. 6 Abs. 1 lit. a) DSGVO, wenn die Daten nach einer Einwilligung des Betroffenen verarbeitet werden. Regelmäßig wird die Datenverarbeitung jedoch zur Vertragserfüllung (Art. 6 Abs. 1 lit. b) DSGVO) oder zur Wahrung berechtigter Interessen (Art. 6 Abs. 1 lit. f) DSGVO) erforderlich sein. Das berechtigte Interesse der Verarbeitung ist hier die Bereitstellung und Aufrechterhaltung des Online-Angebots zur Information der (potentiellen) Kund_innen und (potentiellen) Geschäftspartner_innen sowie anderer an dem Internetauftritt Interessierter. In Ausnahmefällen ist Rechtsgrundlage auch ein anderer in Art. 6 Abs. 1 lit. c) - e) DSGVO aufgeführter Grund.
    </p>

    <h2>Ihre Rechte</h2>

    <p>Nach der DSGVO und dem BDSG haben die von der Datenverarbeitung Betroffenen die folgenden Rechte:
    </p>
    <p>Auskunftsrecht: Betroffene können von dem Verantwortlichen eine Bestätigung darüber verlangen, ob ihre personenbezogenen Daten verarbeitet werden, dies beinhaltet eine Information über den Zweck der Verarbeitung, die Kategorien der Daten, die Empfänger oder Kategorien von Empfängern, denen gegenüber die Daten offengelegt wurden oder werden, nach Möglichkeit die geplante Dauer oder die Kriterien für die Festlegung der Dauer, das Bestehen eines Rechts auf Löschung oder Berichtigung oder auf Einschränkung der Verarbeitung, das Bestehen eines Beschwerderechts bei der Aufsichtsbehörde, eine Information  über die Herkunft der Daten, wenn diese nicht bei der betroffenen Person erhoben werden, das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling und in diesen Fällen die involvierte Logik sowie die Tragweite und die angestrebten Auswirkungen, eine Information über die Übermittlung der Daten in Drittländer oder an eine internationale Organisation in diesen Fällen. Betroffene haben zudem das Recht auf die Zurverfügungstellung einer Kopie der verarbeiteten Daten.
    </p>
    <p>Wird von dem Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung Gebrauch gemacht, kann der Betroffene verlangen, dass ihm die Empfänger der ihn betreffenden Daten mitgeteilt werden, wenn sie diesen offengelegt wurden.
    </p>
    <p>Recht auf Beschwerde bei einer Aufsichtsbehörde: Betroffene haben das Recht zur Beschwerde bei einer Aufsichtsbehörde, wenn sie der Ansicht sind, dass die Verarbeitung ihrer Daten gegen die DSGVO verstößt.
    </p>
    <p>Recht auf Berichtigung: Betroffene können die Berichtigung sie betreffender unrichtiger personenbezogener Daten verlangen. Eine Berichtigung kann auch in der Vervollständigung der Daten liegen.
    </p>
    <p>Recht auf Löschung („Vergessenwerden“): Betroffene können die unverzügliche Löschung der personenbezogenen Daten verlangen, wenn die Daten für den Erhebungszweck nicht mehr notwendig sind, wenn Rechtsgrundlage der Verarbeitung die Einwilligung des Betroffenen war, diese widerrufen wurde und keine andere Rechtsgrundlage für die Verarbeitung vorhanden ist, der Betroffene Widerspruch nach Art. 21 Abs. 1 DSGVO gegen die Verarbeitung eingelegt hat und keine vorrangig berechtigenden Gründe vorliegen oder der Betroffene Widerspruch nach Art. 21 Abs. 2 DSGVO eingelegt hat, die Daten unrechtmäßig verarbeitet wurden, die Löschung zur Erfüllung einer rechtlichen Verpflichtung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten für den Verantwortlichen erforderlich ist oder die Daten in Bezug auf angebotene Dienste der Informationsgesellschaft gemäß Art. 8 Abs. 1 DSGVO erhoben wurden. Die Pflicht zur Löschung für den Verantwortlichen besteht nicht, wenn die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung einer rechtlichen Verpflichtung, die die Verarbeitung nach dem Recht der Union oder der Mitgliedstaaten für den Verantwortlichen erfordert oder zur Wahrnehmung einer Aufgabe, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt durch den Verantwortlichen erfolgt, aus Gründen des öffentlichen Interesses im Bereich der öffentlichen Gesundheit, für im öffentlichen Interesse liegende Archivzwecke, wissenschaftliche oder historische Forschungszwecke oder für statistische Zwecke gemäß Art. 89 Abs. 1 DSGVO, soweit das Recht auf Löschung voraussichtlich die Verwirklichung der Ziele dieser Verarbeitung unmöglich macht oder ernsthaft beeinträchtigt oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist.
    </p>
    <p>Recht auf Einschränkung der Verarbeitung: Betroffene können von dem Verantwortlichen die Einschränkung der Verarbeitung verlangen, wenn die Richtigkeit der personenbezogenen Daten von dem Betroffenen bestritten wird, und zwar für eine Dauer, die es dem Verantwortlichen ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen, die Verarbeitung unrechtmäßig ist und der Betroffene die Löschung der personenbezogenen Daten ablehnt und stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangt, der Verantwortliche die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötigt, der Betroffene sie jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigt, oder der Betroffene Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs.1 DSGVO eingelegt hat, solange noch nicht feststeht, ob die berechtigten Gründe des Verantwortlichen gegenüber denen der betroffenen Person überwiegen. Im Falle des Verlangens der Einschränkung der Verarbeitung können die Daten nur mit Einwilligung der betroffenen Person oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses der Union oder eines Mitgliedstaats verarbeitet werden. Vor der Aufhebung der Einschränkung wird der Betroffene über dieses Vorhaben unterrichtet.
    </p>
    <p>Recht auf Datenübertragbarkeit: Betroffene können verlangen, dass die sie betreffenden personenbezogenen Daten, die einem Verantwortlichen bereitgestellt wurden, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten, und haben Anspruch darauf, dass diese Daten einem anderen Verantwortlichen ohne Behinderung übermittelt werden, wenn die Verarbeitung auf Grundlage einer Einwilligung oder zum Zwecke der Vertragserfüllung geschieht und die Verarbeitung mithilfe automatisierter Verfahren erfolgt ist. Es kann die direkte Übermittlung an einen anderen Verantwortlichen verlangt werden, soweit das technisch machbar ist.
    </p>
    <p>Recht auf Widerspruch: Betroffene können aus Gründen, die sich aus ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung sie betreffender personenbezogener Daten, deren Verarbeitung für die Wahrnehmung einer Aufgabe im öffentlichen Interesse erforderlich ist oder in Ausübung öffentlicher Gewalt durch den Verantwortlichen erforderlich ist oder deren Verarbeitung zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich ist und sofern nicht die Interessen oder Grundrechte und Grundfreiheiten des Betroffenen zum Schutz personenbezogener Daten überwiegen, Widerspruch einzulegen. Dies gilt auch für auf diese Daten gestütztes Profiling. Eine Verarbeitung hat dann zu unterbleiben, wenn nicht zwingende schutzwürdige Gründe für die Verarbeitung nachgewiesen werden, die die Interessen, Rechte und Freiheiten des Betroffenen überwiegen, oder die Verarbeitung der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen dient.
    </p>
    <p>Betroffene können jederzeit Widerspruch einlegen, wenn die Verarbeitung zum Zwecke der Direktwerbung erfolgt. Dies gilt auch für das Profiling (weitere Infos dazu siehe unten), soweit es mit solcher Direktwerbung in Verbindung steht. Eine weitere Verarbeitung ist sodann zu unterlassen.
    </p>
    <p>Das Widerspruchsrecht kann ungeachtet der Richtlinie 2002/58/EG mittels automatisierter Verfahren ausgeübt werden, bei denen technische Spezifikationen verwendet werden. Gegen die Verarbeitung, die zu wissenschaftlichen oder historischen Forschungszwecken oder zu statistischen Zwecken gemäß Art. 89 Abs. 1 DSGVO erfolgt, kann der Betroffene Widerspruch nur einlegen, wenn nicht die Verarbeitung zur Erfüllung einer im öffentlichen Interesse liegenden Aufgabe erforderlich ist.
    </p>
    <p>Automatisierte Entscheidungen im Einzelfall einschließlich Profiling: Betroffene können verlangen, nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die ihr gegenüber rechtliche Wirkung entfaltet oder sie in ähnlicher Weise erheblich beeinträchtigt, es sei denn, dies ist für Vertragsabschluss oder -erfüllung erforderlich, es ist aufgrund von Rechtsvorschriften der Union oder der Mitgliedstaaten für den Verantwortlichen zulässig und diese Rechtsvorschriften enthalten angemessene Maßnahmen zur Wahrung der Rechte und Freiheiten sowie der berechtigten Interessen des Betroffenen oder es ist mit ausdrücklicher Einwilligung des Betroffenen erfolgt. Im Falle der Erforderlichkeit für Vertragsabschluss oder -erfüllung und bei Einwilligung des Betroffenen sind vom Verantwortlichen Maßnahmen zur Wahrung der Rechte und Freiheiten des Betroffenen zu treffen, wozu mindestens das Recht auf Erwirkung des Eingreifens einer Person seitens des Verantwortlichen, auf Darlegung des eigenen Standpunkts und auf Anfechtung der Entscheidung gehört.
    </p>
    <p>Recht auf Widerruf: Es besteht jederzeit und formfrei die Möglichkeit, eine Einwilligung in die Verarbeitung personenbezogener Daten ohne Angabe von Gründen zu widerrufen. Ein Widerruf muss lediglich gegenüber der verantwortlichen Stelle oder einem Beauftragten der verantwortlichen Stelle erklärt werden.
    </p>
  </div>
</div>
