<div class="container">
  <div class="main" role="main">
    <h1>Impressum</h1>
    <p>
      <strong>Angaben gem. § 5 TMG:</strong><br>
      Greenkeeper.io ist ein Produkt der<br>
      Neighbourhoodie Software GmbH<br>
      Ohlauer Straße 43<br>
      10999 Berlin<br>
      <br>
      <strong>E-Mail:</strong> hi@thehoodiefirm.com<br>
      <strong>Telefon:</strong> +49 15117843494<br>
      <br>
      <strong>Geschäftsführer:</strong> Jan Lehnardt<br>
      <strong>Sitz der Gesellschaft:</strong> Berlin<br>
      <strong>Registergericht:</strong> Amtsgericht Charlottenburg<br>
      <strong>Registernummer:</strong> HRB 157851 B<br>
      <strong>Umsatzsteuer-ID gem. § 27a UStG:</strong> DE 2945 12169<br>
      <br>
      <strong>Verantwortlich für den Inhalt:</strong> Jan Lehnardt<br>
      <br>
      Copyright Neighbourhoodie Software
    </p>


    <h2>Datenschutzerklärung</h2>

    <h3>ALLGEMEINES</h3>

    <p>Als Diensteanbieter weist Neighbourhoodie Software GmbH die Besucher dieser Website nach dem Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG) darauf hin, dass beim Besuch der Website Daten erhoben und verarbeitet werden. Diese <a href='/de/datenschutzerklaerung'>Datenschutzerklärung</a> ist für die Besucher der Website jederzeit abrufbar.</p>

    <h3>NUTZUNGSDATEN</h3>

    <p>Beim Besuch der Website werden von den Besuchern personenbezogene Daten erhoben, die die Nutzung der Website ermöglichen (Nutzungsdaten). Insbesondere handelt es sich dabei um Merkmale zur Identifikation und um Angaben über den Beginn, das Ende, die Dauer und den Umfang der Nutzung der Website. Diese Daten werden nur intern zur Erstellung von Zugriffsstatistiken genutzt und werden nicht mit anderen Daten zusammengeführt. Somit ist eine Zuordnung der Daten zu einer bestimmten Person nicht möglich.</p>

    <p>Zu Zwecken der Werbung, der Marktforschung und zur bedarfsgerechten Gestaltung der Website können von Neighbourhoodie Software GmbH unter Verwendung von Pseudonymen Nutzungsprofile erstellt werden. Die Nutzungsprofile können jedoch nicht mit den Daten über den Träger des Pseudonyms zusammengeführt werden. Der Nutzer der Website kann der Erstellung eines Nutzungsprofiles widersprechen.</p>

    <p>Zur Erstellung von Zugriffsstatistiken werden beim Abruf der Website die folgenden Daten erfasst: IP-Adresse URL der abgerufenen Seite Referer (die vorhergehende Seite, von welcher an die aufgerufene Seite weiterverwiesen wurden) Datum und Uhrzeit des Zugriffs Dauer des Zugriffs Die beim Besuch der Website erhobenen Daten werden nur intern zu den genannten Zwecken genutzt und nicht an Dritte weitergegeben.</p>

    <p>Bei der Anmeldung zum Newsletter wird die E-Mail-Adresse und der Name des Nutzers mit dessen Einwilligung für Werbemaßnahmen von Neighbourhoodie Software GmbH genutzt, bis der Kunde den Newsletter wieder abbestellt.</p>

    <h3>WIDERSPRUCH, WIDERRUF, AUSKUNFT, BERICHTIGUNG, SPERRUNG, LÖSCHUNG</h3>

    <p>Der Nutzer der Website von Neighbourhoodie Software GmbH hat das Recht, die Einwilligung zur Nutzung seiner Daten gemäß § 15 Abs. 2 Nr. 4 TMG zu widerrufen sowie jederzeit Auskunft über die im Rahmen der Nutzung erhobenen Daten zu verlangen. Er hat außerdem das Recht, in dem gesetzlich vorgesehenen Rahmen die Berichtigung, Sperrung oder Löschung dieser Daten zu verlangen. Zur Wahrnehmung der vorstehenden Rechte oder zur Erklärung des Widerspruches zur Erstellung eines Nutzerprofiles sendet der Nutzer eine E-Mail an die im Impressum der Website genannte E-Mail-Adresse und nennt – soweit für sein Verlangen erforderlich – seine IP-Adresse und den Zeitpunkt des Zugriffs. Neighbourhoodie Software GmbH wird daraufhin die verlangte Auskunft erteilen und die Berichtigung, Sperrung oder Löschung der Daten veranlassen, soweit dies möglich ist. Die Auskunftserteilung kann auf Verlangen auch elektronisch erfolgen.</p>
  </div>
</div>
