<div class='hero'>
  <header role="banner">
    <%- partial("../partials/_gk_logo_round") %>
    <div class='text'>
      <h1>Greenkeeper</h1>
      <span>Automatisiertes Dependency-Management</span>
    </div>
  </header>
  <div class='scroller'></div>
</div>

<section class="billboard">
  <h1>Sorgen Sie für Sicherheit &amp; Konsistenz
  mit <span class="signal">Echtzeit-Monitoring</span> und
  <span class="signal">automatischen Updates</span> für npm-Dependencies</h1>
</section>

<!--div class="get-started">
  <a class="button" href="https://github.com/apps/greenkeeper">Install the Greenkeeper app on GitHub now!</a>
</div-->

<h3>Schließen Sie sich Tausenden anderen an, die Greenkeeper Ihre Dependency-Arbeiten überlassen</h3>

<section class='features'>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M20.59 12l-3.3-3.3a1 1 0 1 1 1.42-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.42-1.4l3.3-3.3zM3.4 12l3.3 3.3a1 1 0 0 1-1.42 1.4l-4-4a1 1 0 0 1 0-1.4l4-4a1 1 0 0 1 1.42 1.4L3.4 12zm7.56 8.24a1 1 0 0 1-1.94-.48l4-16a1 1 0 1 1 1.94.48l-4 16z"/></svg>
    <h3>Verbessert ihre Code-Qualität</h3>
    <p><strong>Greenkeeper hilft dabei, Ihre Software auf dem neuesten Stand zu halten.</strong> Dadurch werden Sicherheits- und Kompatibilitäts-Bedenken eliminiert, und Ihr Projekt bleibt frisch und einfach zu warten. Greenkeeper liefert einen konstanten Fluss an kleinen und isolierten Updates, die einfach zu verstehen und integrieren sind.</p>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M17.56 17.66a8 8 0 0 1-11.32 0L1.3 12.7a1 1 0 0 1 0-1.42l4.95-4.95a8 8 0 0 1 11.32 0l4.95 4.95a1 1 0 0 1 0 1.42l-4.95 4.95zm-9.9-1.42a6 6 0 0 0 8.48 0L20.38 12l-4.24-4.24a6 6 0 0 0-8.48 0L3.4 12l4.25 4.24zM11.9 16a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/></svg>
    <h3>Erkennt Probleme, die sonst leicht übersehen werden</h3>
    <p>Versionierungen sind nicht perfekt oder verlässlich: man würde erwarten, dass ein Patch-Update für eine Dependency, zum Beispiel <code>1.0.1</code> nach <code>1.0.2</code>,  unproblematisch ist, aber wenn man es nicht ausprobiert, weiß man es nicht genau. <strong>Wir haben herausgefunden, dass ca. 15% aller Minor- und Patch-Updates Probleme verursachen</strong>, obwohl sie es semantisch gesehen nicht sollten. Greenkeeper testet jedes einzelne Update für Sie, Tag und Nacht, ob Wochenende oder Wochentag, damit Sie es nicht müssen.
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-3.54-4.46a1 1 0 0 1 1.42-1.42 3 3 0 0 0 4.24 0 1 1 0 0 1 1.42 1.42 5 5 0 0 1-7.08 0zM9 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm6 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/></svg>
    <h3>Hält Entwickler produktiv und glücklich</h3>
    <p><strong>Greenkeeper automatisiert unliebsame und zeitraubende Entwickler-Pflichten</strong>: mit dem niemals endendem Strom an Releases auf dem neuesten Stand zu bleiben, und jedes einzelne Update mit Ihrer Software zu testen. Greenkeeper integriert sich nahtlos in existierende Prozesse, es muss nichts dazugelernt werden, und Sie können mit minimalem Aufwand Zeit und Geld sparen.</p>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
    <h3>Freundlich und zuverlässig</h3>
    <p>Greenkeeper gibt es seit 2015, und hat seitdem Tausende zufriedene Kunden, darunter auch bekannte Projekte und Firmen. Wir sind als unabhängige GmbH mit Sitz in Berlin und ohne externe Gesellschafterinteressen auf langfristige Stabilität fokussiert. Falls es doch Probleme mit Greenkeeper geben sollte, haben Sie bei dem technischen Support die Entwickler selbst am Draht.</p>
  </div>
</section>

<figure class="wide-img">
  <img
    src="/images/greenkeeper_in-range-update_fail_issue.png"
    alt="Ein Greenkeeper-Pull Request für ein Dependency-Update, das den CI-Build fehlschlagen lässt">
  <figcaption>Ein unscheinbares Update, wegen dem unerwarteterweise Ihr Build fehlgeschlagen wäre! Greenkeeper hat das Problem jedoch sofort erkannt.</figcaption>
</figure>

<section class="single">
  <h2>Greenkeeper hat Tausende zufriedene Benutzer</h2>
  <p>Ein paar davon kennen Sie vielleicht:</p>
  <%- partial("../partials/_customers") %>
</section>

<a id="pricing"></a>
<div class="full-height">
  <section class="pricing">
    <%- partial("./partials/_pricing") %>
  </section>
</div>

<div class="full-height">
  <section class="single they-really-seem-to-like-us">
    <h2>Was unsere Kunden sagen</h2>
    <ul class="tweets spaced">
      <!--li>greenkeeper.io makes our lives easier: Thank you!<a href="https://twitter.com/pushrockscode/status/650982642834407424">@pushrockscode</a></li-->
      <!--li>Heh, @greenkeeperio just became @pouchdb's 170th contributor and it already has 3 more PR's open […], this is awesome<a href="https://twitter.com/daleharvey/status/648910948657446913">@daleharvey</a></li-->
      <!--li>Just gave greenkeeper.io a try and it really rocks!<a href="https://twitter.com/chrkhl/status/648086178890170369">@chrkhl</a></li-->
      <!--li>The Mighty Internet is automating our dev workflow. Serious cool service for keeping npm dependencies up to date: http://greenkeeper.io/<a href="https://twitter.com/kaplas/status/648388001844871168">@kaplas</a></li-->
      <!--li>"@greenkeeperio Is My Co-Pilot"<a href="https://twitter.com/EINS78/status/649604334121021442">@EINS78</a></li-->
      <li><em>I am 100% loving @greenkeeperio btw. Next up: using <a href="http://git.io/semantic-release">semantic release</a> for all the projects I have 100% test coverage for.</em> — <a href="https://twitter.com/ceejbot/status/665207874650578945">CJ Silverio</a>, CTO, <a href="https://www.npmjs.com">npm Inc.</a></li>

      <li><em>@greenkeeperio is solid. It's now on all our public repos and we're getting a private account in the new year. The time saved is worth it.</em> — <a href="https://twitter.com/gloddy/status/674650926620278785">Christian Gloddy</a>, Director of Web development, <a href="http://nymag.com" title="NYMag - Politics, Entertainment, Fashion, Restaurants & NY">New York Magazine</a>.</li>

      <li><em>[I’m] a fan of how Greenkeeper tackles @npmjs deps: as an unobtrusive bot that sends PRs when upstreams update. […]</em> — <a href="https://twitter.com/jedschmidt/status/647451940457193472">Jed Schmidt</a>, JavaScript celebrity.</li>

      <li><em>I now have greenkeeper enabled on 6 of my bigger open source projects, and it would be a no brainer to pay for to use on private projects.</em> — <a href="http://lukecod.es/2016/03/07/greenkeeper/" title="Greenkeeper &middot; Luke Codes">Luke Karrys</a>, developer at <a href="https://andyet.com/">&amp;yet</a>.</li>

      <li><em>Just updated all the dependencies on 5 open source projects with @greenkeeperio in 10 minutes. 👍</em> — <a href="https://twitter.com/TalAter/status/688950232801886208">Tal Ater</a>, developer, UpUp.</li>

      <li><em>You have to try them! It's such an awesome and easy way to keep your dependencies updated. 💕</em> — <a href="https://twitter.com/notquiteleo">Leo</a> from <a href="https://zeit.co">ZEIT</a></li>
    </ul>

    <!--p>In general, <a href="https://twitter.com/search?q=greenkeeper.io%20OR%20greenkeeperio">people really seem to like Greenkeeper</a>.</p-->
    <p>Vertrauen Sie diesen Leuten nicht? <a href="https://github.com/apps/greenkeeper">Probieren Sie Greenkeeper einfach selbst aus!</a></p>
  </section>
</div>

<a id="how-it-works"></a>
<div class="double-flex full-height">
  <section>
    <h2>Wie es funktioniert</h2>
    <p>Nachdem Greenkeeper installiert wurde, befindet es sich zwischen npm und GitHub. Hier beobachtet es alle npm-Module, von denen das Projekt, für das Greenkeeper installiert wurde, abhängig ist. Sobald eines der Module ein Update bekommt, wird ein neuer Branch in GitHub erstellt. Ihre Continuous Integration-Tests (CI) laufen durch und Greenkeeper überprüft deren Ergebnisse.</p>
    <p>Basierend auf dem Ausgang der CI-Tests und der projektspezifischen Versionsdefinitionen öffnet Greenkeeper verständliche und nützliche Pull Requests oder Issues.</p>
    <p>Lassen Sie sich die Arbeit von dem freundlichen Greenkeeper-Bot abnehmen und im besten Falle auf wenige Klicks minimieren.</p>
    <p><a href='/de/dokumentation#what-greenkeeper-does'>Erfahren Sie mehr darüber, wie Greenkeeper funktioniert</a>.</p>
  </section>
  <section>
    <h2>Warum Greenkeeper so hilfreich ist</h2>
    <ul>
      <li>Bei Dependency-Updates einen klaren Kopf zu behalten ist nicht einfach: Ihr Code ist von Modulen abhängig, die wiederum von anderen Modulen abhängig sind. Manche Projekte sind von Dutzenden oder Hunderten Module abhängig, und für diese Module werden permanent  Aktualisierungen veröffentlich. Das ist entweder anstrengend oder vollkommen überwältigend. <strong>Greenkeeper wird weder genervt noch verpasst es Updates</strong>.</li>
      <li><strong>Versionen mit einem Klick pinnen:</strong> Sie haben zu tun, und das verstehen wir. Manchmal müssen sie einfach eine pragmatische Entscheidung darüber treffen, ob Sie Ihr Projekt sofort an eine Aktualisierung anpassen oder erstmal die alter Version eines Moduls weiterverwenden, damit Sie sich später in Ruhe damit befassen können. Greenkeeper respektiert das und unterstützt sowohl die einen als auch die andere Vorgehensweise.</li>
      <li>Sie könnten natürlich auch alle Versionen manuell aktualisieren. Aber das ist langweilige und repetetive Arbeit, weswegen sie, um ehrlich zu sein, fast niemand macht. Greenkeeper hingegen <em>macht sie</em>, Tag und Nacht, ohne sich zu beschweren, und das alles, ohne viel ihrer Aufmerksamkeit in Anspruch zu nehmen.</li>
    </ul>
  </section>
</div>

<section class='limit-width'>
  <h2>Features</h2>
  <ul class='centered-list'>
    <li><strong>Automatisierte Updates in Echtzeit</strong> für alle JavaScript-Projekte auf GitHub.</li>
    <li>Lässt Ihre Tests laufen und sendet Benachrichtigungen, wenn Aktualisierungen Ihre Software negativ beeinträchtigen.</li>
    <li>Funktioniert mit <a href="/de/dokumentation#monorepo">monorepo-repositories</a> sowie mit <a href="/de/dokumentation#monorepo-dependencies">monorepo-dependencies</a>.</li>
    <li>Eingebaute Unterstützung für <a href="/de/dokumentation#private-scoped-packages">scoped packages</a>.</li>
    <li><a href="/de/dokumentation#private-scoped-packages">Private packages</a> und Registry-Unterstützung via webhooks.</li>
    <li><a href="/de/dokumentation#lockfiles">Lockfile</a>-Unterstützung (funktioniert mit shrinkwrap, npm5 und yarn)</li>
    <li><strong>Integriert sich naht- und umstandslos</strong> in bestehende Arbeitsabläufe</li>
    <li><strong>Selbstgehostete Greenkeeper Enterprise-Version</strong> für GitHub Enterprise-Kunden. <a href="/de/enterprise">Finden Sie mehr über Greenkeeper Enterprise heraus</a>.</li>
  </ul>
</section>
