<div class="container">
  <div class="main" role="main">
    <h1>Über Greenkeeper</h1>
    <h2>Unsere Geschichte</h2>
    <p>Greenkeeper machte sein Debüt als Produkt bei der <a href='http://2015.jsconf.eu/'>JSConf EU 2015</a>, wo es von Stephan Bönnemann und Christoph Witzko vorgestellt wurde. Es begann als ein kleines Seitenprojekt und wurde schnell so populär dass es kommerzialisiert werden konnte. Die Neighbourhoodie Software GmbH hat das Projekt nach einer Weile adoptiert und kümmert sich um die Weiterentwicklung und Vermarktung. Greenkeeper selbst wurde in den letzten Jahren signifikant erweitert und modifiziert, zuletzt mit Greenkeeper 3, welches unter Anderem Unterstützung für Monorepos eingeführt hat.</p>
    <h2>Wer wir sind</h2>
    <p>Wir sind ein kleines Team welches größtenteils aus Entwicklern besteht, und die Firma ist in einem alten Umspannwerk im wunderbaren Kreuzberg beheimatet. Wir sind:</p>
    <ul class="compact-list">
      <li>Julia Krüger – Full Stack-Entwicklerin</li>
      <li>Jan Lehnardt – Ops, CEO</li>
      <li>Jacoba Brandner – Entwicklerin</li>
      <li>Simone Haas – CEO</li>
      <li>Olivia Hugger – Marketing</li>
      <li>Alex Feyerke – Frontend Lead</li>
    </ul>
    <h2>Greenkeeper und Open Source</h2>
    <p>
      Greenkeeper is in erster Linie ein Open-Source-Projekt. Der Kern von Greenkeeper ist <a href='https://github.com/greenkeeperio/greenkeeper'>Open Source</a> und wird es auch bleiben. Obendrein sind auch einige Kernbestandteile unserer Infrastruktur Open Source, zum Beispiel <a href='https://github.com/greenkeeperio/greenkeeper-lockfile'>greenkeeper-lockfile</a>, der <a href='https://github.com/greenkeeperio/changes'>change listener</a>, oder unser <a href='https://github.com/greenkeeperio/hooks'>GitHub webhooks</a> service. Unser Code ist öffentlich, weil wir daran glauben dass diese Offenheit Vertrauen in das Produkjt weckt. Außerdem wollen wir Anderen die Möglichkeit geben, von dem Projekt zu lernen und daran mitzuwirken.
    </p>
    <p>
      Neighbourhoodie, die Firma von der Greenkeeper betrieben wird, hat eine lange Open-Source Geschicht. Ursprünglich als Unterstützung für das <a href='http://hood.ie/'>Hoodie</a>-Projekt gegründet, hat sie geholfen neue Standards für Inklusivität in Open Source-Projekten zu etablieren. Einige Kollegen arbeiten zudem an weiteren großen Open Source-Projekten, wie zum Beispiel <a href='https://couchdb.apache.org/'>CouchDB</a> oder <a href='https://jekyllrb.com/'>Jekyll</a>.
    </p>
  </div>
</div>
