<div class="container">
  <div class="main" role="main">
    <h1>How to verify pull requests are coming from us</h1>
    <p>In the past, we saw an attack performed against Greenkeeper and its users</a> in which pull requests were sent by an from a fake account. It was called <em>“greenkeeper<strong>l</strong>o-bot”</em>, rather than <em>“greenkeeper<strong>i</strong>o-bot”</em>, and so the whole experience closely resembled the Greenkeeper look and feel. We added a verification feature to our service which adds a status check to each Greenkeeper pull request. With this, there are now three indicators that the pull request is genuine:
    </p>
    <ol>
      <li>
        <p>The pull request author is <code>greenkeeper [bot]</code>, from <a href='https://github.com/apps/greenkeeper'>the Greenkeeper GitHub app</a></p>
      </li>
      <li>
        <p>The pull request origin is a different branch of the <em>same</em> repo, not an external repo</p>
      </li>
      <li>
        <p>The pull request has a status check from <code>greenkeeper/verify</code></p>
      </li>
    </ol>
    <figure class="wide-img">
      <img
        src="/images/github_greenkeeper_verified_status.png"
        alt="">
      <figcaption>Only a pull request with a greenkeeper/verify status check is genuine. Don’t accept any fakes!</figcaption>
    </figure>

    <h2>Any questions or feedback?</h2>
    <p>
      If there is anything unclear about this, or if you have other ideas for signals we could be sending please <a href="mailto:support@greenkeeper.io">send us an email</a> or get in touch via <a href="http://twitter.com/greenkeeperio">Twitter</a>.
    </p>

    <p>Happy developing!</p>
  </div>
</div>
