<div class='full-width-breakout'>
  <ul class='customer-list '>
    <li>
      <img src='https://avatars1.githubusercontent.com/u/1515293?v=4' />
      <a href='https://github.com/chaijs/chai-fs'>
        Chai.js
      </a>
    </li>
    <li>
      <img src='https://avatars1.githubusercontent.com/u/4692291?v=4' />
      <a href='https://github.com/CityOfBoston/registry-certs'>
        The City Of Boston
      </a>
    </li>
    <li>
      <img src='https://avatars1.githubusercontent.com/u/13409222?v=4' />
      <a href='https://github.com/electron/electronjs.org'>
        Electron
      </a>
    </li>
    <li>
      <img src='https://avatars3.githubusercontent.com/u/10262982?v=4' />
      <a href='https://github.com/ember-cli/console-ui'>
        ember-cli
      </a>
    </li>
    <li>
      <img src='https://avatars3.githubusercontent.com/u/16785467?v=4' />
      <a href='https://github.com/googleapis/nodejs-common-grpc'>
        Google APIs
      </a>
    </li>
    <li>
      <img src='https://avatars2.githubusercontent.com/u/13629408?v=4' />
      <a href='https://github.com/kubernetes/dashboard'>
        Kubernetes
      </a>
    </li>
    <li>
      <img src='https://avatars2.githubusercontent.com/u/131524?v=4' />
      <a href='https://github.com/mozilla/firefox-test-tube'>
        Mozilla
      </a>
    </li>
    <li>
      <img src='https://avatars0.githubusercontent.com/u/3430433?v=4' />
      <a href='https://github.com/octokit/fixtures'>
        GitHub’s Octokit
      </a>
    </li>
    <li>
      <img src='https://avatars3.githubusercontent.com/u/261431?v=4' />
      <a href='https://github.com/openstreetmap/iD'>
        Open StreetMap
      </a>
    </li>
    <li>
      <img src='https://avatars2.githubusercontent.com/u/639823?v=4' />
      <a href='https://github.com/travis-ci/travis-web'>
        Travis CI
      </a>
    </li>
  </ul>
</div>
