<div class='full-width-breakout'>
  <ul class='customer-list '>
    <li>
      <img src='https://avatars3.githubusercontent.com/u/698437?v=4' />
      <a href='https://github.com/airbnb/react-dates'>
        Airbnb
      </a>
    </li>
    <li>
      <img src='https://avatars1.githubusercontent.com/u/13409222?v=4' />
      <a href='https://github.com/electron/i18n'>
        electron
      </a>
    </li>
    <li>
      <img src='https://avatars3.githubusercontent.com/u/10262982?v=4' />
      <a href='https://github.com/ember-cli/babel-plugin-htmlbars-inline-precompile'>
        ember-cli
      </a>
    </li>
    <li>
      <img src='https://avatars3.githubusercontent.com/u/16785467?v=4' />
      <a href='https://github.com/googleapis/nodejs-common-grpc'>
        GoogleAPIs
      </a>
    </li>
    <li>
      <img src='https://avatars3.githubusercontent.com/u/23211?v=4' />
      <a href='https://github.com/heroku/heroku-cli-plugin-auth'>
        Heroku
      </a>
    </li>
    <li>
      <img src='https://avatars1.githubusercontent.com/u/600935?v=4' />
      <a href='https://github.com/mapbox/mapbox-gl-draw'>
        Mapbox
      </a>
    </li>
    <li>
      <img src='https://avatars2.githubusercontent.com/u/131524?v=4' />
      <a href='https://github.com/mozilla/FirefoxColor'>
        Mozilla
      </a>
    </li>
    <li>
      <img src='https://avatars0.githubusercontent.com/u/3430433?v=4' />
      <a href='https://github.com/octokit/fixtures'>
        Octokit
      </a>
    </li>
    <li>
      <img src='https://avatars3.githubusercontent.com/u/261431?v=4' />
      <a href='https://github.com/openstreetmap/iD'>
        Open Streetmap
      </a>
    </li>
    <li>
      <img src='https://avatars0.githubusercontent.com/u/766800?v=4' />
      <a href='https://github.com/PagerDuty/web-ui'>
        PagerDuty
      </a>
    </li>
    <li>
      <img src='https://avatars3.githubusercontent.com/u/20227031?v=4' />
      <a href='https://github.com/pizzahutuk/ui'>
        Pizza Hut UK
      </a>
    </li>
    <li>
      <img src='https://avatars1.githubusercontent.com/u/12867925?v=4' />
      <a href='https://github.com/semantic-release/semantic-release'>
        Semantic Release
      </a>
    </li>
    <li>
      <img src='https://avatars3.githubusercontent.com/u/25744532?v=4' />
      <a href='https://github.com/sothebys/web-bidding'>
        Sothebys
      </a>
    </li>
    <li>
      <img src='https://avatars2.githubusercontent.com/u/639823?v=4' />
      <a href='https://github.com/travis-ci/travis-web'>
        Travis CI
      </a>
    </li>
    <li>
      <img src='https://avatars2.githubusercontent.com/u/1652745?v=4' />
      <a href='https://github.com/Typeform/bob-the-builder'>
        Typeform
      </a>
    </li>
    <li>
      <img src='https://avatars2.githubusercontent.com/u/379216?v=4' />
      <a href='https://github.com/w3c/specberus'>
        w3c
      </a>
    </li>
  </ul>
</div>
