<% if (pageTitle === "Index"){ %>

<nav class="header">
  <ul role="navigation" aria-label="main navigation">
    <li><a href="#how-it-works">How it works</a></li>
    <li><a href="#pricing">Pricing</a></li>
    <li><a href="#enterprise" class="enterprise">Enterprise Solutions</a></li>
    <li class="account"><a href="http://account.greenkeeper.io">Your account</a></li>
  </ul>
</nav>

<% } else { %>

<nav class="header" role="navigation">
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="https://blog.greenkeeper.io/">Blog</a></li>
    <li class="<%= current.source=='faq'?'active':'' %>">
      <a href="faq.html">FAQ</a>
    </li>
    <li class="<%= current.source=='impressum'?'active':'' %>">
      <a href="impressum.html">Impressum</a>
    </li>
    <li class="<%= current.source=='terms-of-service'?'active':'' %>">
      <a href="terms-of-service.html">Terms of Service</a>
    </li>
    <li class="<%= current.source=='privacy-policy'?'active':'' %>">
      <a href="privacy-policy.html">Privacy Policy</a>
    </li>
  </ul>
</nav>

<% } %>
