<h2>Plans and Pricing</h2>
<div class='toggle-container billing-selection active' id="billing-selector">
  <a href="" class='toggle-option toggle-option-inactive'>Monthly billing</a>
  <button class="toggle-switch"></button>
  <a href="" class='toggle-option toggle-option-active'>Yearly billing</a>
</div>

<div class="save-with-yearly-billing">Save 16%!</div>

<a class="plan yearly" href='https://github.com/apps/greenkeeper'>
  <h2>Free Plan</h2>
  <span class="price">Totally free!</span>
  <ul class="spaced">
    <li>For Open-Source projects</li>
    <li><strong>No private repos</strong></li>
  </ul>
  <span class="button">Install now</a>
</a>

<a class="plan yearly" href='https://github.com/apps/greenkeeper'>
  <h2>Personal Plan</h2>
  <span class="price monthly">$0&thinsp;USD<small>/month</small></span>
  <span class="price yearly">$0&thinsp;USD<small>/year</small></span>
  <ul class="spaced">
    <li>For personal GitHub accounts</li>
    <li class="monthly"><strong>+$1.5&thinsp;USD</strong> per private repo per month</li>
    <li class="yearly"><strong>+$15&thinsp;USD</strong> per private repo per year</li>
  </ul>
  <span class="button">Install now</a>
</a>

<a class="plan yearly" href='https://github.com/apps/greenkeeper'>
  <h2>Organisation Plan</h2>
  <span class="price monthly">$25&thinsp;USD<small>/month</small></span>
  <span class="price yearly">$250&thinsp;USD<small>/year</small></span>
  <ul class="spaced">
    <li>For GitHub organisations</li>
    <li>Includes 10 private repos</li>
    <li class="monthly"><strong>+$1.5&thinsp;USD</strong> per additional private repo per month</li>
    <li class="yearly"><strong>+$15&thinsp;USD</strong> per additional private repo per year</li>
  </ul>
  <span class="button">Install now</a>
</a>

<section>
  <p class='centered-p'>Need more? Using GitHub Enterprise? Want to self-host Greenkeeper? No problem: <a href='/enterprise' class='enterprise'>Check out Greenkeeper Enterprise</a>.</p>
</section>

<section class='features'>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
    <h3>Free for Open-Source</h3>
    <ul>
      <li>Public GitHub repos are always free, regardless of which plan you have.</li>
    </ul>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-11v2h1a3 3 0 0 1 0 6h-1v1a1 1 0 0 1-2 0v-1H8a1 1 0 0 1 0-2h3v-2h-1a3 3 0 0 1 0-6h1V6a1 1 0 0 1 2 0v1h3a1 1 0 0 1 0 2h-3zm-2 0h-1a1 1 0 1 0 0 2h1V9zm2 6h1a1 1 0 0 0 0-2h-1v2z"/></svg>
    <h3>Save with yearly billing</h3>
    <ul>
      <li>Choose yearly billing and get 12 months of Greenkeeper for the price of 10!</li>
    </ul>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-3.54-4.46a1 1 0 0 1 1.42-1.42 3 3 0 0 0 4.24 0 1 1 0 0 1 1.42 1.42 5 5 0 0 1-7.08 0zM9 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm6 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/></svg>
    <h3>Risk-free use</h3>
    <ul>
      <li>If you're unhappy during the first 30 days, you'll get your <strong>money back, no questions asked</strong>.</li>
      <li>Greenkeeper only works on its own branches and <strong>doesn’t modify your code</strong>.</li>
      <li><strong>Friendly and competent online support</strong> by the developers (during EU business hours)</li>
    </ul>
  </div>
  <div class='feature'>
    <svg aria-labelledby="simpleicons-github-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="#000" d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
    <h3>Also on GitHub Marketplace</h3>
    <ul>
      <li>Different pricing structure including an unlimited plan for large businesses</li>
      <li>Simpler billing via your GitHub invoice</li>
      <li>14-day free trial for all plans</li>
      <li>
        <a href="https://github.com/marketplace/greenkeeper">Get Greenkeeper from GitHub Marketplace</button>
      </li>
    </ul>
  </div>
</section>
