<a href='<%- otherLanguageURL %>' class='language-switch'>EN</a>

<% if (bodyClass.includes('index')){ %>
  <div class="companyHeader">
    <div class="centeringContainer">
      <span class="subline">Greenkeeper has said goodbye 👋 on June 3rd, 2020! Read more below…</span>
    </div>
  </div>
<% } else {%>
  <a id="top"></a>
  <div class="companyHeader">
    <div class="centeringContainer">
      <span class="subline">Greenkeeper has said goodbye 👋 and has passed the torch to Snyk on June 3rd, 2020! <a href="/">Find&nbsp;out&nbsp;more</a></span>
    </div>
  </div>
<% } %>

<nav class="header">
  <ul role="navigation" aria-label="main navigation">
    <li class="<%= current.source=='index'?'active':'' %>">
      <a href="/">Greenkeeper</a>
    </li>
    <li class="<%= current.source=='docs'?'active':'' %>">
      <a href="/docs.html">Docs</a>
    </li>
    <!-- li class="<%= current.source=='enterprise'?'enterprise active':'enterprise' %>">
      <a href="/enterprise.html">Enterprise</a>
    </li-->
    <li class="account"><a href="https://account.greenkeeper.io">Your account</a></li>
  </ul>
  <a href="#" class="menu-button">
    <span class="menu">Menu</span>
    <span class="close">Close</span>
    <span class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-9h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2H9a1 1 0 0 1 0-2h2V9a1 1 0 0 1 2 0v2z"/></svg>
    </span>
  </a>
</nav>
