<h2>Preise</h2>
<div class='toggle-container billing-selection active' id="billing-selector">
  <a href="" class='toggle-option toggle-option-inactive'>Monatliche Abrechnung</a>
  <button class="toggle-switch"></button>
  <a href="" class='toggle-option toggle-option-active' style="margin-right: 25px;">Jährliche Abrechnung</a>
</div>

<div class="save-with-yearly-billing">16% sparen!</div>

<a class="plan yearly" href='https://github.com/apps/greenkeeper'>
  <h2>Kostenloser Plan</h2>
  <span class="price">Völlig kostenlos!</span>
  <ul class="spaced">
    <li>Für Open-Source-Projekte</li>
    <li><strong>Keine privaten Repos</strong></li>
  </ul>
  <span class="button">Jetzt installieren</a>
</a>

<a class="plan yearly" href='https://github.com/apps/greenkeeper'>
  <h2>Persönlicher Plan</h2>
  <span class="price monthly">0€<small>/Monat</small></span>
  <span class="price yearly">0€<small>/Jahr</small></span>
  <ul class="spaced">
    <li>Für persönliche GitHub-Accounts</li>
    <li class="monthly"><strong>+1,5€</strong> pro private Repo pro Monat</li>
    <li class="yearly"><strong>+15€</strong> pro private Repo pro Jahr</li>
  </ul>
  <span class="button">Jetzt installieren</a>
</a>

<a class="plan yearly" href='https://github.com/apps/greenkeeper'>
  <h2>Organisations-Plan</h2>
  <span class="price monthly">25€<small>/Monat</small></span>
  <span class="price yearly">250€<small>/Jahr</small></span>
  <ul class="spaced">
    <li>Für GitHub-Organisationen</li>
    <li>10 private Repos inklusive</li>
    <li class="monthly"><strong>+1,5€</strong> pro zusätzliche private Repo pro Monat</li>
    <li class="yearly"><strong>+15€</strong> pro zusätzliche private Repo pro Jahr</li>
  </ul>
  <span class="button">Jetzt installieren</a>
</a>

<section>
  <p class='centered-p'>Sie wollen viel mehr Repos, oder benutzen GitHub Enterprise? Wollen Sie Greenkeeper selbst hosten? Mit Artifactory statt npm? Kein Problem: <a href="/de/enterprise" class="enterprise">Dafür gibt es Greenkeeper Enterprise</a>.</p>
</section>

<section class='features'>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
    <h3>Für Open-Source kostenlos</h3>
    <ul>
      <li>Öffentliche GitHub-Repos sind immer kostenlos, unabhängig von ihrem Plan.</li>
    </ul>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-11v2h1a3 3 0 0 1 0 6h-1v1a1 1 0 0 1-2 0v-1H8a1 1 0 0 1 0-2h3v-2h-1a3 3 0 0 1 0-6h1V6a1 1 0 0 1 2 0v1h3a1 1 0 0 1 0 2h-3zm-2 0h-1a1 1 0 1 0 0 2h1V9zm2 6h1a1 1 0 0 0 0-2h-1v2z"/></svg>
    <h3>Sparen Sie, indem Sie jährlich bezahlen</h3>
    <ul>
      <li>Wählen Sie jährliche Abrechnung, dann bekommen Sie 12 Monate Greenkeeper zum Preis von 10!</li>
    </ul>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-3.54-4.46a1 1 0 0 1 1.42-1.42 3 3 0 0 0 4.24 0 1 1 0 0 1 1.42 1.42 5 5 0 0 1-7.08 0zM9 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm6 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/></svg>
    <h3>Risikofreie Benutzung</h3>
    <ul>
      <li>Falls Sie während der ersten 30 Tage merken, dass Greenkeeper doch nichts für Sie ist, <strong>bekommen Sie Ihr Geld zurück</strong>.</li>
      <li>Greenkeeper funktioniert nur auf dessen eigenen Branches und <strong>macht keine Änderungen an ihrem Code</strong>.</li>
      <li><strong>Freundlicher und kompetenter Online-Support von den Entwicklern selbst</strong> (zu EU-Geschäftszeiten).</li>
    </ul>
  </div>
  <div class='feature'>
    <svg aria-labelledby="simpleicons-github-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="#000" d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
    <h3>Auch im GitHub Marketplace zu finden</h3>
    <ul>
      <li>Andere Preisstruktur, z.B. und ein unlimitierter Plan für große Unternehmen</li>
      <li>Einfachere Bezahlung über Ihre GitHub-Rechnung</li>
      <li>14-tägiger kostenloser Testzeitraum für alle Pläne</li>
      <li>
        <a href="https://github.com/marketplace/greenkeeper">Greenkeeper vom GitHub Marketplace installieren</a>
      </li>
    </ul>
  </div>
</section>
