<div class="container">
  <div class="main" role="main">
    <h1>About Greenkeeper</h1>
    <h2>Our History</h2>
    <p>
      The Greenkeeper product was first premiered at <a href='http://2015.jsconf.eu/'>JSConf EU 2015</a> by Stephan Bönnemann and Christoph Witzko. First started as a side project, it eventually became so popular that it was commercialized. Neighbourhoodie Software GmbH eventually adopted the project and has led development ever since. Greenkeeper itself has undergone numerous changes, which most recently culminated in Greenkeeper 3, improving stability and adding monorepo support.
    </p>
    <h2>Who we are</h2>
    <p>
      We are a small team of developers based in (mostly) sunny Berlin, the capital city of Germany. Our office is located in the lovely district of Kreuzberg, inside of a former transformer station.
    </p>
    <h2>Greenkeeper and Open Source</h2>
    <p>
      Greenkeeper is first and foremost an Open-Source project. The base Greenkeeper software has always been, and will always be, <a href='https://github.com/greenkeeperio/greenkeeper'>Open Source</a>. Along with that, many of the core parts of our infrastructure are also Open Source, such as <a href='https://github.com/greenkeeperio/greenkeeper-lockfile'>greenkeeper-lockfile</a>, our <a href='https://github.com/greenkeeperio/changes'>change listener</a>, or our <a href='https://github.com/greenkeeperio/hooks'>GitHub webhooks</a> service. We do this because we believe that keeping our software open helps foster trust in it, as well as giving anyone the opportunity to improve it, not just us.
    </p>
    <p>
      Our parent company, Neighbourhoodie, also has a long history with Open Source. Originally being founded around the <a href='http://hood.ie/'>Hoodie</a> project, they helped set new standards for inclusivity in Open Source projects. Some of our colleagues have contributed to large Open Source projects themselves, such as <a href='https://couchdb.apache.org/'>CouchDB</a> or <a href='https://jekyllrb.com/'>Jekyll</a>.
    </p>
  </div>
</div>
