<section class='image-header'>
  <h2><strong>Greenkeeper Enterprise</strong>Effortlessly keep your software secure and up&nbsp;to&nbsp;date</h2>
  <p>Build better, more maintainable and more secure software while saving time and money</p>
  <a href='mailto:enterprise@greenkeeper.io?subject=Greenkeeper%20Enterprise%20Inquiry&body=%5BThanks%20for%20your%20interest%20in%20Greenkeeper%20Enterprise.%20We%E2%80%99ve%20pre-filled%20some%20of%20the%20most%20common%20questions%20below%20for%20your%20convenience.%5D%0A%0AHello%20Greenkeeper%20Team%2C%0A%0A-%20%5B%20%5D%20We %20are%20interested%20in%20setting%20up%20a%20self-hosted%20Greenkeeper%20Enterprise%20trial%0A-%20%5B%20%5D%C2%A0Please%20provide%20pricing%20information%20for%20use%20with%20___%20seats%2Fdevelopers%0A-%20%5B%20%5D%20We%20have%20a%20technical%20question%3A%20%0A-%20%5B%20%5D%20We%20have%20an%20administrative%20or%20billing%20question%3A' class='enterprise-cta cta'>Contact us!</a>
  <div class='img'>
    <img src='/images/greenkeeper_in-range-update_fail_issue.png' alt=''>
  </div>
</section>

<!-- Icons from https://github.com/sschoger/heroicons-ui -->
<section class='features'>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M20.59 12l-3.3-3.3a1 1 0 1 1 1.42-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.42-1.4l3.3-3.3zM3.4 12l3.3 3.3a1 1 0 0 1-1.42 1.4l-4-4a1 1 0 0 1 0-1.4l4-4a1 1 0 0 1 1.42 1.4L3.4 12zm7.56 8.24a1 1 0 0 1-1.94-.48l4-16a1 1 0 1 1 1.94.48l-4 16z"/></svg>
    <h3>Improve your code quality</h3>
    <p><strong>Greenkeeper helps keep your software up to date.</strong> This eliminates many security concerns and compatibility issues, and also keeps your projects fresh and maintainable. It provides a constant drip of small, isolated updates that can be easily understood, tackled and tested.</p>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-3.54-4.46a1 1 0 0 1 1.42-1.42 3 3 0 0 0 4.24 0 1 1 0 0 1 1.42 1.42 5 5 0 0 1-7.08 0zM9 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm6 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/></svg>
    <!--h3>Increase team efficiency and productivity</h3-->
    <h3>Keep your developers happy and productive</h3>
    <p><strong>Greenkeeper automates away unpopular and time-consuming developer tasks</strong>: staying up to date with a never-ending stream of releases, and testing each one’s compatibility with your software. Greenkeeper integrates seamlessly into existing workflows, so there’s nothing new to learn, and you can save time and money with minimal overhead.</p>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-11v2h1a3 3 0 0 1 0 6h-1v1a1 1 0 0 1-2 0v-1H8a1 1 0 0 1 0-2h3v-2h-1a3 3 0 0 1 0-6h1V6a1 1 0 0 1 2 0v1h3a1 1 0 0 1 0 2h-3zm-2 0h-1a1 1 0 1 0 0 2h1V9zm2 6h1a1 1 0 0 0 0-2h-1v2z"/></svg>
    <h3>Enterprise-ready</h3>
    <p>Greenkeeper Enterprise is a self-hosted solution for GitHub Enterprise users. It is secure and wholly under your control, and supports any private module repository your company may be using, such as npm enterprise, jFrog Artifactory and many others.</p>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
    <h3>Reliable</h3>
    <p>Our software-as-a-service version of Greenkeeper has been around since 2015 and has thousands satisfied users, including many large companies you’ve definitely heard of. We’re an independent German SMB without external shareholder interests, so we’re in it for the long haul. If there should be problems, we provide competent and friendly support.</p>
  </div>
</section>

<section class="single">
  <h2>Trusted by Thousands of Projects and Companies</h2>
  <p>Some of Greenkeeper’s SaaS customers:</p>
  <%- partial("partials/_customers") %>
</section>

<section class='limit-width'>
  <h2>Features</h2>
  <ul class='centered-list'>
    <li><strong>Automated, real-time dependency updates</strong> for all JavaScript projects on your GitHub Enterprise instance</li>
    <li>Runs your CI test suite on every dependency update and only alerts developers when something needs to be done</li>
    <li>Support for both <a href="/docs.html#monorepo">monorepo repositories</a> and <a href="/docs.html#monorepo-dependencies">monorepo dependencies</a></li>
    <li>Out-of-the-box support for <a href="/docs.html#private-scoped-packages">scoped packages</a></li>
    <li><a href="/docs.html#private-scoped-packages">Private packages</a> and registry support via webhooks</li>
    <li><a href="/docs.html#lockfiles">Built-in lockfile support</a> for public packages with npm and yarn (shrinkwrap and private package support optional)</li>
    <li><strong>Integrates seamlessly</strong> into your existing developer workflow, with nothing new to learn</li>
    <li><strong>Self-host Greenkeeper Enterprise simply and securely</strong>: you receive updates, we don’t even get to see your logs if you don’t want us too. You can even run Greenkeeper Enterprise in an airgapped environment</li>
  </ul>
</section>

<div class='double-flex compact'>
  <h3>Try Greenkeeper Enterprise today!</h3>
  <section class='split-item-top'>
    <ul class='compact-list'>
      <li>Risk free with a 30 day free trial period</li>
      <li>Friendly setup support</li>
      <li>Enterprise-ready contracts and service agreements</li>
    </ul>
  </section>
  <section class='split-item-bottom'>
    <a href='mailto:enterprise@greenkeeper.io?subject=Greenkeeper%20Enterprise%20Inquiry&body=%5BThanks%20for%20your%20interest%20in%20Greenkeeper%20Enterprise.%20We%E2%80%99ve%20pre-filled%20some%20of%20the%20most%20common%20questions%20below%20for%20your%20convenience.%5D%0A%0AHello%20Greenkeeper%20Team%2C%0A%0A-%20%5B%20%5D%20We %20are%20interested%20in%20setting%20up%20a%20self-hosted%20Greenkeeper%20Enterprise%20trial%0A-%20%5B%20%5D%C2%A0Please%20provide%20pricing%20information%20for%20use%20with%20___%20seats%2Fdevelopers%0A-%20%5B%20%5D%20We%20have%20a%20technical%20question%3A%20%0A-%20%5B%20%5D%20We%20have%20an%20administrative%20or%20billing%20question%3A' class='enterprise-cta cta'>Contact us!</a>
  </section>
</div>

<section class="single align-left">
    <h2>Technical Requirements</h2>
    <p>To self-host Greenkeeper Enterprise, you’ll need a Linux server with a minimum of 2 cores and 4GB memory, running an operating system from <a href="https://www.replicated.com/docs/distributing-an-application/supported-operating-systems/">this list</a>. Its ports <code>80</code>, <code>443</code>, and <code>8800</code> need to be accessible from your local machine.</p>
    <p>You’ll also need to be using GitHub Enterprise</p>
    <p>To get a better idea of what’s involved, please take a look at the <a href='/enterprise-setup'>Greenkeeper Enterprise setup page</a>.</p>
  </section>
