<section class='image-header'>
  <h2>Effortlessly keep your software secure and up&nbsp;to&nbsp;date</h2>
  <p>Build better, more maintainable and more secure software while saving time and money</p>
  <button>Request a demo</button>
  <div class='img'>
    <img src='/images/greenkeeper_in-range-update_fail_issue.png' alt=''>
  </div>
</section>

<!-- Icons from https://github.com/sschoger/heroicons-ui -->
<section class='features'>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M20.59 12l-3.3-3.3a1 1 0 1 1 1.42-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.42-1.4l3.3-3.3zM3.4 12l3.3 3.3a1 1 0 0 1-1.42 1.4l-4-4a1 1 0 0 1 0-1.4l4-4a1 1 0 0 1 1.42 1.4L3.4 12zm7.56 8.24a1 1 0 0 1-1.94-.48l4-16a1 1 0 1 1 1.94.48l-4 16z"/></svg>
    <h3>Improve your code quality</h3>
    <p>Greenkeeper helps keep your software up to date. This eliminates many security concerns and compatibility issues, and also keeps your projects fresh and maintainable. It provides a constant drip of small, isolated updates that can be easily understood, tackled and tested.</p>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-3.54-4.46a1 1 0 0 1 1.42-1.42 3 3 0 0 0 4.24 0 1 1 0 0 1 1.42 1.42 5 5 0 0 1-7.08 0zM9 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm6 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/></svg>
    <h3>Increase team efficiency and productivity</h3>
    <p>Greenkeeper automates away unpopular and time-consuming developer tasks: staying up to date with a never-ending stream of releases, and testing each one’s compatibility with your software. Greenkeeper integrates seamlessly into existing workflows, so there’s nothing new to learn, and you can save time and money with minimal overhead.</p>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-11v2h1a3 3 0 0 1 0 6h-1v1a1 1 0 0 1-2 0v-1H8a1 1 0 0 1 0-2h3v-2h-1a3 3 0 0 1 0-6h1V6a1 1 0 0 1 2 0v1h3a1 1 0 0 1 0 2h-3zm-2 0h-1a1 1 0 1 0 0 2h1V9zm2 6h1a1 1 0 0 0 0-2h-1v2z"/></svg>
    <h3>Enterprise-ready</h3>
    <p>Greenkeeper Enterprise is a self-hosted solution for GitHub Enterprise users. It is secure and wholly under your control, and supports any private module repository your company may be using, such as npm enterprise, jFrog Artifactory and many others.</p>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
    <h3>Reliable</h3>
    <p>Our software-as-a-service version of Greenkeeper has been around since 2015 and has thousands satisfied users, including many large companies you’ve definitely heard of. We’re an independent German SMB without external shareholder interests, so we’re in it for the long haul. If there should be problems, we provide competent and friendly support.</p>
  </div>
</section>



<div class="double-flex">
  <h3></h3>
  <section class="split-item-top">
    <ul>
      <li><strong>Automatic, real time</strong> dependency updates</li>
      <li><strong>Runs your tests</strong> and alerts you when updates break your code</li>
      <li>Support for both <a href="/docs.html#monorepo">monorepo repositories</a> and <a href="/docs.html#monorepo-dependencies">monorepo dependencies</a></li>
      <li>Out-of-the-box support for <a href="/docs.html#private-scoped-packages">scoped packages</a></li>
      <li><a href="/docs.html#private-scoped-packages">Private packages</a> and registry support via webhooks</li>
      <li><a href="/docs.html#lockfiles">Lockfile</a> support, including shrinkwrap, npm5 and yarn</li>
    </ul>
  </section>
  <section class="split-item-bottom">
    <ul>
      <li>Integrates neatly into your existing developer workflow</li>
      <li><a href='/docs.html#ignoring-dependencies'>Ignore updates</a> from dependencies you don’t care about</li>
      <li><a href='/docs.html#pinning'>One-click dependency pinning</a>, for when you just don’t have time to deal with a breaking change</li>
      <li><strong>Less accounting:</strong> use our <a href='https://github.com/marketplace/greenkeeper'>GitHub Marketplace app</a> and get billed via your GitHub invoice</li>
      <li><a href="#enterprise">Self-hosted enterprise version</a> available</li>
    </ul>
  </section>
</div>
