<div class="container">
  <div class="main" role="main">
    <h1>Frequently Asked Questions</h1>

    <ul class="faq-questions">
      <li><a href="#github-activity">Greenkeeper is creating branches and immediately deleting them again</a></li>
      <li><a href="#pinning-versions">How to get pull requests for every update</a></li>
      <li><a href="#renamed-repo">I can’t enable a repo that was recently renamed</a></li>
      <li><a href="#branches">Can I enable Greenkeeper on a different branch?</a></li>
      <li><a href="#owners-only">Can collaborators enable Greenkeeper too?</a></li>
    </ul>

    <ul class="faq-answers">
      <li>
        <a id="github-activity"></a>
        <h2><a href="#github-activity">I enabled a repo, but nothing’s happening / Deleted branches</a></h2>
        <p>This might be because the dependency updates are within your specified ranges, and not breaking your tests. So there’s no point in bothering you with a PR, since everything still works.</p>
        <p>You’ll only receive pull requests when an in-range dependency breaks your build, or when a dependency updates outside your specified range.</p>
        <a href="#top">Back to top</a>
      </li>
      <li>
        <a id="pinning-versions"></a>
        <h2><a href="#pinning-versions">I want a pull request for every dependency update</a></h2>
        <p>If you pin your dependencies to a specific version, you will see an update for every new version that is released for that dependency.</p>
          <p>Pin your versions like this:<br>
          <code>{
  "dependencies": {
    "lodash": "4.0.0"
  }
}</code>
          </p>
        <a href="#top">Back to top</a>
      </li>
      <li>
        <a id="branches"></a>
        <h2><a href="#branches">Can I enable Greenkeeper on a different branch?</a></h2>
        <p><strong>At this point, there is no configuration setting for the branch</strong>, but Greenkeeper picks the default branch that is set up on GitHub for Pull Requests, so that’s a place where you can change it.</p>
        <p>We are planning to introduce a more flexible configuration setting in the future and we’ll let you know when it is available.</p>
        <a href="#top">Back to top</a>
      </li>
      <li>
        <a id="owners-only"></a>
        <h2><a href="#owners-only">Can collaborators enable Greenkeeper too?</a></h2>
        <p>Greenkeeper creates branches on your repository to send you PRs, and we need push access to the repository. On top of that we need to create webhooks so we can keep your `package.json` content in sync, which requires admin access.</p>
        <p><strong>So no, unfortunately being a collaborator currently isn’t sufficient.</strong></p>
        <a href="#top">Back to top</a>
      </li>
    </ul>

    <!-- content ends here -->
    <span class="hr"></span>
    <!--nav role="navigation">
      <ul class="nav">
        <li><a href="https://blog.greenkeeper.io/">Blog</a></li>
        <li class="active">FAQ</li>
        <li><a href="impressum.html">Impressum</a></li>
        <li><a href="terms-of-service.html">Terms of Service</a></li>
        <li><a href="privacy-policy.html">Privacy Policy</a></li>
      </ul>
    </nav-->
  </div>
</div>
