<div class="container">
  <div class="main" role="main">
    <h1>Legal Information</h1>
    <p>
      <strong>All information required by § 5 TMG<br>(German Tele-Media Act):</strong><br>
      Greenkeeper.io is a product of<br>
      Neighbourhoodie Software GmbH<br>
      Ohlauer Straße 43<br>
      10999 Berlin<br>
      <br>
      <strong>E-Mail:</strong> hi@thehoodiefirm.com<br>
      <strong>phone:</strong> +49 15117843494<br>
      <br>
      <strong>Geschäftsführer (CEO):</strong> Jan Lehnardt<br>
      <strong>Commercial settlement:</strong> Berlin<br>
      <strong>Registry Court:</strong> Amtsgericht Charlottenburg<br>
      <strong>Register Number:</strong> HRB 157851 B<br>
      <strong>VAT Identification Number according to § 27a UStG:</strong> DE 2945 12169<br>
      <strong>Responsible for content:</strong> Jan Lehnardt<br>
      <br>
      Copyright Neighbourhoodie Software<br>
    </p>
  </div>
</div>
