<div class='hero'>
  <header role="banner">
    <%- partial("partials/_gk_logo_round") %>
    <div class='text'>
      <h1>Greenkeeper</h1>
      <span>Automated dependency management</span>
    </div>
  </header>
  <div class='scroller'></div>
</div>

<section class="billboard">
  <h1>Get safety &amp; consistency with <span class="signal">real-time monitoring</span> and <span class="signal">automatic updates</span> for npm dependencies</h1>
</section>

<h3>Join thousands of others who let our friendly bot handle their dependency chores</h3>

<section class='features'>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M20.59 12l-3.3-3.3a1 1 0 1 1 1.42-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.42-1.4l3.3-3.3zM3.4 12l3.3 3.3a1 1 0 0 1-1.42 1.4l-4-4a1 1 0 0 1 0-1.4l4-4a1 1 0 0 1 1.42 1.4L3.4 12zm7.56 8.24a1 1 0 0 1-1.94-.48l4-16a1 1 0 1 1 1.94.48l-4 16z"/></svg>
    <h3>Improves your code quality</h3>
    <p><strong>Greenkeeper helps keep your software up to date.</strong> This eliminates many security concerns and compatibility issues, and also keeps your projects fresh and maintainable. It provides a constant drip of small, isolated updates that can be easily understood, tackled and tested.</p>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M17.56 17.66a8 8 0 0 1-11.32 0L1.3 12.7a1 1 0 0 1 0-1.42l4.95-4.95a8 8 0 0 1 11.32 0l4.95 4.95a1 1 0 0 1 0 1.42l-4.95 4.95zm-9.9-1.42a6 6 0 0 0 8.48 0L20.38 12l-4.24-4.24a6 6 0 0 0-8.48 0L3.4 12l4.25 4.24zM11.9 16a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/></svg>
    <h3>Catches problems you would have missed</h3>
    <p>Versioning isn’t perfect or reliable: you’d expect a patch update to a dependency, for example <code>1.0.1</code> to <code>1.0.2</code>, to be unproblematic, but unless you actually try it, you won’t know until it’s too late. <strong>We found that around 15% of all minor and patch updates break their dependent code</strong>, even though semantically they shouldn’t. Greenkeeper tests every single update for you, day or night, workday or weekend, so you don’t have to.</p>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-3.54-4.46a1 1 0 0 1 1.42-1.42 3 3 0 0 0 4.24 0 1 1 0 0 1 1.42 1.42 5 5 0 0 1-7.08 0zM9 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm6 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/></svg>
    <h3>Keeps developers happy and productive</h3>
    <p><strong>Greenkeeper automates away unpopular and time-consuming developer tasks</strong>: staying up to date with a never-ending stream of releases, and testing each one’s compatibility with your software. Greenkeeper integrates seamlessly into existing workflows, so there’s nothing new to learn, and you can save time and money with minimal overhead.</p>
  </div>
  <div class='feature'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heroicon-ui" d="M12.76 3.76a6 6 0 0 1 8.48 8.48l-8.53 8.54a1 1 0 0 1-1.42 0l-8.53-8.54a6 6 0 0 1 8.48-8.48l.76.75.76-.75zm7.07 7.07a4 4 0 1 0-5.66-5.66l-1.46 1.47a1 1 0 0 1-1.42 0L9.83 5.17a4 4 0 1 0-5.66 5.66L12 18.66l7.83-7.83z"/></svg>
    <h3>Friendly and Reliable</h3>
    <p>Greenkeeper has been around since 2015 and has thousands of satisfied users, including many well-known projects and companies. We’re an independent German SMB without external shareholder interests, so we’re in it for the long haul. If there are problems, the developers themselves provide competent and friendly support.</p>
  </div>
</section>

<figure class="wide-img">
  <img
    src="images/greenkeeper_in-range-update_fail_issue.png"
    alt="A Greenkeeper pull request for an in-range dependency update that breaks the build">
  <figcaption>A tiny in-range patch update that would have broken your build, even though it shouldn’t have! But Greenkeeper caught it right away.</figcaption>
</figure>

<section class="single">
  <h2>Trusted by Thousands of Projects and Companies</h2>
  <p>We’re sure you’ve heard of some of them:</p>
  <%- partial("partials/_customers") %>
</section>

<a id="pricing"></a>
<div class="full-height">
<section class="pricing">
  <%- partial("en/partials/_pricing") %>
</div>

<div class="full-height">
  <section class="single they-really-seem-to-like-us">
    <h2>What Our Users Say</h2>
    <ul class="tweets spaced">
      <!--li>greenkeeper.io makes our lives easier: Thank you!<a href="https://twitter.com/pushrockscode/status/650982642834407424">@pushrockscode</a></li-->
      <!--li>Heh, @greenkeeperio just became @pouchdb's 170th contributor and it already has 3 more PR's open […], this is awesome<a href="https://twitter.com/daleharvey/status/648910948657446913">@daleharvey</a></li-->
      <!--li>Just gave greenkeeper.io a try and it really rocks!<a href="https://twitter.com/chrkhl/status/648086178890170369">@chrkhl</a></li-->
      <!--li>The Mighty Internet is automating our dev workflow. Serious cool service for keeping npm dependencies up to date: http://greenkeeper.io/<a href="https://twitter.com/kaplas/status/648388001844871168">@kaplas</a></li-->
      <!--li>"@greenkeeperio Is My Co-Pilot"<a href="https://twitter.com/EINS78/status/649604334121021442">@EINS78</a></li-->
      <li><em>I am 100% loving @greenkeeperio btw. Next up: using <a href="http://git.io/semantic-release">semantic release</a> for all the projects I have 100% test coverage for.</em> — <a href="https://twitter.com/ceejbot/status/665207874650578945">CJ Silverio</a>, CTO, <a href="https://www.npmjs.com">npm Inc.</a></li>

      <li><em>@greenkeeperio is solid. It's now on all our public repos and we're getting a private account in the new year. The time saved is worth it.</em> — <a href="https://twitter.com/gloddy/status/674650926620278785">Christian Gloddy</a>, Director of Web development, <a href="http://nymag.com" title="NYMag - Politics, Entertainment, Fashion, Restaurants & NY">New York Magazine</a>.</li>

      <li><em>[I’m] a fan of how Greenkeeper tackles @npmjs deps: as an unobtrusive bot that sends PRs when upstreams update. […]</em> — <a href="https://twitter.com/jedschmidt/status/647451940457193472">Jed Schmidt</a>, JavaScript celebrity.</li>

      <li><em>I now have greenkeeper enabled on 6 of my bigger open source projects, and it would be a no brainer to pay for to use on private projects.</em> — <a href="http://lukecod.es/2016/03/07/greenkeeper/" title="Greenkeeper &middot; Luke Codes">Luke Karrys</a>, developer at <a href="https://andyet.com/">&amp;yet</a>.</li>

      <li><em>Just updated all the dependencies on 5 open source projects with @greenkeeperio in 10 minutes. 👍</em> — <a href="https://twitter.com/TalAter/status/688950232801886208">Tal Ater</a>, developer, UpUp.</li>

      <li><em>You have to try them! It's such an awesome and easy way to keep your dependencies updated. 💕</em> — <a href="https://twitter.com/notquiteleo">Leo</a> from <a href="https://zeit.co">ZEIT</a></li>
    </ul>

    <!--p>In general, <a href="https://twitter.com/search?q=greenkeeper.io%20OR%20greenkeeperio">people really seem to like Greenkeeper</a>.</p-->
    <p>Don’t trust any of these people? <a href="https://github.com/apps/greenkeeper">Try Greenkeeper yourself!</a></p>
  </section>
</div>

<a id="how-it-works"></a>
<div class="double-flex full-height">
  <section>
    <h2>How it works</h2>
    <p>Greenkeeper sits between npm and GitHub, observing all of the modules you depend on. When they get updated, your project gets a new branch with that update. Your CI tests kick in, and we watch them to see whether they pass.</p>
    <p>Based on the test results and your current version definitions we will open up clear, actionable pull requests or issues for you. If there’s nothing for you to do, we won’t nag you.</p>
    <p>Let the friendly Greenkeeper bot take all the dull work of keeping your dependencies up to date off your shoulders and, optimally, boil it all down to a few clicks. <strong>This is as close to fully automatic as we could possibly make it.</strong></p>
    <p><a href='/docs.html#what-greenkeeper-does'>Learn more about how Greenkeeper works</a>.</p>
  </section>
  <section>
    <h2>Why it’s so neat</h2>
    <ul>
      <li>Staying on top of dependency updates is a lot of cognitive overhead: your code depends on modules that depend on modules. It’s modules all the way down. Stuff gets updated all the time. It’ll either annoy you, or you’ll miss it. <strong>Greenkeeper never misses updates, and it never gets annoyed</strong>.</li>
      <li><strong>Pin versions with one click:</strong> You’ve got stuff to do, we understand. Sometimes you simply have to make a pragmatic trade-off between fixing your build for the breaking update or just pinning the working version so you can get back to it later. Our bot can respect that.</li>
      <li>You could do all the updates and testing by hand, all the time. But that’s dull, repetitive work, which is why, let’s be honest, barely anyone actually does it. But Greenkeeper <em>will</em> do it, day or night, without complaining, while requiring as little of your attention as possible.</li>
    </ul>
  </section>
</div>

<section class='limit-width'>
  <h2>Features</h2>
  <ul class='centered-list'>
    <li><strong>Automated, real-time dependency updates</strong> for all JavaScript projects on GitHub.</li>
    <li>Runs your CI test suite on every dependency update and only alerts developers when something needs to be done.</li>
    <li>Support for both <a href="/docs.html#monorepo">monorepo repositories</a> and <a href="/docs.html#monorepo-dependencies">monorepo dependencies</a>.</li>
    <li>Out-of-the-box support for <a href="/docs.html#private-scoped-packages">scoped packages</a>.</li>
    <li><a href="/docs.html#private-scoped-packages">Private packages</a> and registry support via webhooks.</li>
    <li><a href="/docs.html#lockfiles">Built-in lockfile support</a> for public packages with npm and yarn (shrinkwrap and private package support optional).</li>
    <li><strong>Integrates seamlessly</strong> into your existing developer workflow, with nothing new to learn.</li>
    <li><strong>Self-hosted Greenkeeper Enterprise option</strong> for GitHub Enterprise users. <a href='/enterprise'>Find out more about Greenkeeper Enterprise</a>.</li>
  </ul>
</section>
