<div class="container">
  <div class="main" role="main">
    <div id="presetup">
      <h1>Setup without granting admin access</h1>
      <!-- content starts here -->

      <p>
        Using Greenkeeper with an out of the box setup requires you to grant the service admin access to your GitHub repositories. We require this soley so we can setup webhooks for you – an integral part of what makes Greenkeeper work the way it does.
      </p>
      <p>
        Granting access and letting us do the setup for you has some clear advantages.
      </p>
      <ol>
        <li>
          We can make sure everything is setup correctly
        </li>
        <li>
          In case the setup needs to change we can migrate on our own
        </li>
        <li>
          You don’t have to think about or do any of this
        </li>
      </ol>
      <p>
        While trying our best to be as trustworthy as possible we realize that admin access is something many people can not or do not want to grant a third party like us. We’ve got you covered.
      </p>
      <p>
        If you want Greenkeeper to operate on private and public repositories this is how it works. <em>Requires greenkeeper@2.13.0 or later.</em>
      </p>
      <code>greenkeeper login --force --no-admin --private</code>
      <p>
        If you only need Greenkeeper for public repositories you can further reduce the scope.
      </p>
      <code>greenkeeper login --force --no-admin</code>
      <p>
        Once the login is completed you can enable repositories as usual. Detailed instructions on how to setup the hooks will follow after you have enabled a repository.
      </p>
      <code>greenkeeper enable --slug user/repo</code>
      <p>
        <em>Please note that you still need admin access to a repository to setup Greenkeeper. The only difference is that you don’t need to grant that access to us.</em>
      </p>
    </div>

    <div id="setup" style="display: none">
      <h1>Setting up the webhooks</h1>

      <p>
        Great, you made it! You enabled <strong class="slug"></strong> without granting us admin access for it. Following <a id="settings-link">this link to the GitHub settings page of your repository</a> you have to enter the following configuration settings.
      </p>
      <p><strong>Payload URL</strong></p>
      <code>https://api.greenkeeper.io/webhooks/github</code>
      <p><strong>Content type</strong></p>
      <code>application/json</code>
      <p><strong>Secret</strong></p>
      <code class="secret"></code>
      <p><strong>Which events would you like to trigger this webhook?</strong></p>
      <code>Let me select individual events.</code>
      <ul>
        <li><code>Pull request</code></li>
        <li><code>Push</code></li>
        <li><code>Repository</code></li>
        <li><code>Status</code></li>
      </ul>
      <p><strong>Active</strong></p>
      <hr>
      <p>
        And that’s it. As long as you have entered the configuration exactly as shown Greenkeeper will work without admin access.
      </p>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/manual-webhooks.js"></script>
