<div class="container">
  <div class="main" role="main">
    <h1>How to verify pull requests are coming from us</h1>
    <!-- content starts here -->

    <blockquote><em>Why shouldn’t I be able to trust them in the first place?</em></blockquote>

    <p>
      <a href="https://medium.com/@boennemann/your-just-considered-harmful-679db7366b95" title="Personal Greenkeeper Attack Response">On March 18th an attack was performed against Greenkeeper and its users</a> in which pull requests were sent by an attacker from a fake account. It was called <em>“greenkeeper<strong>l</strong>o-bot”</em>, rather than <em>“greenkeeper<strong>i</strong>o-bot”</em>, and so the whole experience closely resembled the Greenkeeper look and feel. Even though the proposed changes didn’t make sense the pull request was merged in one case. Looking at the diff seemed unnecessary.
    </p>

    <p>
      This is a dangerous attack vector that abuses natural human behavior and thus a solution can neither be fully technical, nor is it possible to ensure attentive human behavior at every single moment. This is especially apparent as Greenkeeper, a service built on top of GitHub, can’t fully control the user interface presented to the user.
    </p>

    <h2>We’re trying to send clearer signals</h2>

    <p>
      <strong>Think of Greenkeeper pull requests like a letter sent to your postbox. You can’t reliably verify whether a certain letter really came from the sender printed onto it.</strong> To deal with this, humans have come up with a lot of different signals they are sending and verifying, e.g. the handwriting, signature, postmark or a seal. Of course investigators could look for DNA traces with a very complex and expensive procedure.
    </p>

    <p>
      The same is true for Greenkeeper. As users suggested we could sign our commits using GPG and then tell you to verify that locally for every single pull request we’re going to send<a href="#gpg">*</a>.
    </p>

    <p>
      This is additional work for you. It’s even simpler to look at the diff of the pull request, to tell whether it’s dangerous, and yet people don’t always do that. So instead of loading additional steps onto you, our users, we decided to increase the amount of signals we’re sending and making them both clearer and harder to fake.
    </p>

    <p>
      Previously there were two signals visible at first glance. <strong>The pull request author has to be “greenkeeperio-bot”, and the pull request is opened from a branch of the same repository</strong>.
    </p>

    <figure>
      <img alt="A comparison of faked and correct signals like username and branch naming pattern" src="/images/signals_old.png">
    </figure>

    <h2>Sending signals that require authorized access to your repository</h2>

    <p>
      In contrast to a possible (outside) attacker <strong>Greenkeeper has authorized access rights to your repository</strong>, that you granted when signing up for the service. <strong>This allows us to send signals that fake accounts can’t.</strong>
    </p>

    <p>
      <strong>Whenever we’re opening a pull request on your repository we will now also attach a “greenkeeper/verify” status flag to it</strong>. It is not possible to send such a status without access to the repository. This is another signal – highly visible – that will help you to verify a pull request is coming from us at a glance. <strong>If this status is not present on a Greenkeeper pull request sent after March 31st 2016 do not merge it</strong>.
    </p>

    <figure>
      <img alt="A screenshot of the status hook" src="/images/signals_new.png">
    </figure>

    <p>
      <strong>Along with the status we’re attaching the “greenkeeper” label to the pull request.</strong> Again: This is not possible without access to the repository. <strong>If this label is not present on a Greenkeeper pull request sent after April 1st 2016 do not merge it</strong>.
      You may change the name of the label by adding <code>"greenkeeper": {"label": "the-name"}</code> to your <code>package.json</code> file. Even though we don’t recommend doing this, setting the label property to <code>false</code> will disable this feature.
    </p>

    <figure>
      <img alt="A screenshot of the label" src="/images/signals_label.png">
    </figure>

    <p>
      We think this will help you to safely use Greenkeeper and to further fulfill our promise of keeping dependencies up to date with a single click. <em>If you aren’t 100% sure: Generally it’s safest to closely look at diffs before merging something into your project – no matter if it’s coming from Greenkeeper or not.</em>
    </p>

    <h2 id="gpg">GPG signatures wouldn’t even help</h2>

    <p>
      Just hours after we announced “Greenkeeper Verify” GitHub launched <a href="https://github.com/blog/2144-gpg-signature-verification">GPG signature verification</a>. We are happy that this feature is now available for the community. However we don’t think it is helpful in this specific case. It might even be harmful. The problem with this attack vector is that people overlook small variations in the pull request author’s username. An attacker could still use such a fake account and sign the commit with an entirely different GPG key that they set up just for this. The green “Verified” badge would look exactly the same and could even give a false sense of security.
    </p>

    <h2>Any questions or feedback?</h2>
    <p>
      If there is anything unclear about this, or if you have other ideas for signals we could be sending please <a href="mailto:support@greenkeeper.io">send us an email</a> or get in touch via <a href="http://twitter.com/greenkeeperio">Twitter</a>.
    </p>
  </div>
</div>
